<h2 mat-dialog-title>{{'SETTINGS_SECURITY_CALENDAR' | translate}}</h2>
<mat-dialog-content>
  <div class="row" *ngIf="calendarToken != null">
      <mat-form-field class="col-12 col-sm-12 col-md-12 col-lg-10" appearance="outline">
        <mat-label>{{'SETTINGS_SECURITY_MDOAL_CALENDAR_INPUT_TITLE' | translate}}</mat-label>
        <input matInput readonly value="{{calendarToken}}">
        <button mat-icon-button matSuffix (click)="copyTokenToClipboard()"
                matTooltip="{{'SETTINGS_SECURITY_MODAL_COPY_TOKEN_TOOLTIP' | translate}}" matTooltipPosition="above">
          <mat-icon>file_copy</mat-icon>
        </button>
      </mat-form-field>

    <div class="col-12 col-sm-12 col-md-12 col-lg-2">
      <button style="margin-top: 12px; width: 100%" mat-flat-button color="warn"
              (click)="resetCalendarToken()">{{'SETTINGS_SECURITY_MODAL_RESET_TOKEN' | translate}}</button>
    </div>
  </div>
  <div class="row" *ngIf="calendarToken == null">
    <div class="col-12">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{'CLOSE' | translate}}</button>
</mat-dialog-actions>
