<h2 mat-dialog-title>{{ 'SETTINGS_SECURITY_CALENDAR' | translate }}</h2>
<mat-dialog-content>
  <div
    fxLayout="row wrap"
    fxLayout.lt-md="column"
    fxLayoutAlign="space-between center"
    fxLayoutAlign.lt-md="space-around stretch"
    fxLayoutGap="2%"
  >
    <div>
      <mat-card-subtitle>{{ 'SETTINGS_SECURITY_MDOAL_CALENDAR_COMPLETE' | translate }}</mat-card-subtitle>
      <a href="{{ apiUrl }}" target="_blank" rel="noopener">{{ apiUrl }}</a>
    </div>

    <div>
      <button
        (click)="copyTokenToClipboard(apiUrl); tooltip.disabled = false; tooltip.show()"
        mat-flat-button
        color="accent"
        style="width: 100%"
        [matTooltipDisabled]="true"
        matTooltip="{{ 'COPIED_LINK' | translate }}"
        #tooltip="matTooltip"
        matTooltipPosition="right"
      >
        <mat-icon>content_copy</mat-icon>
        {{ 'SETTINGS_SECURITY_MODAL_CALENDAR_COPY_TOKEN_TOOLTIP' | translate }}
      </button>
    </div>
  </div>

  <mat-divider style="margin-top: 15px; margin-bottom: 15px"></mat-divider>

  <div
    *ngIf="calendarToken != null"
    fxLayout="row wrap"
    fxLayout.lt-md="column"
    fxLayoutAlign="space-between center"
    fxLayoutAlign.lt-md="space-around stretch"
    fxLayoutGap="2%"
  >
    <div>
      <mat-card-subtitle>{{ 'SETTINGS_SECURITY_MDOAL_CALENDAR_INPUT_TITLE' | translate }}</mat-card-subtitle>
      <a href="{{ calendarToken }}" target="_blank" rel="noopener">{{ calendarToken }}</a>
    </div>

    <div>
      <button
        (click)="copyTokenToClipboard(calendarToken); tooltip.disabled = false; tooltip.show()"
        mat-flat-button
        color="accent"
        style="width: 100%"
        [matTooltipDisabled]="true"
        matTooltip="{{ 'COPIED_LINK' | translate }}"
        #tooltip="matTooltip"
        matTooltipPosition="above"
      >
        <mat-icon>content_copy</mat-icon>
        {{ 'SETTINGS_SECURITY_MODAL_CALENDAR_COPY_TOKEN_TOOLTIP' | translate }}
      </button>
    </div>

    <div fxFlex.xs="100%">
      <button (click)="resetCalendarToken()" color="warn" mat-flat-button style="width: 100%">
        <mat-icon>refresh</mat-icon>
        {{ 'SETTINGS_SECURITY_MODAL_CALENDAR_RESET_TOKEN' | translate }}
      </button>
    </div>
  </div>
  <div *ngIf="calendarToken == null">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
  <button mat-button mat-dialog-close>{{ 'CLOSE' | translate }}</button>
</mat-dialog-actions>
