<h1 mat-dialog-title>{{ 'MANAGEMENT_USERS_INFO_USER_MODAL_TITLE' | tr }} {{ firstname }} {{ surname }}</h1>
<div mat-dialog-content>
  <div fxLayout="column" fxLayoutGap="0.5%">
    <div>{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_TITLE' | tr }}: {{ title }}</div>
    <div>{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_FIRSTNAME' | tr }}: {{ firstname }}</div>
    <div>{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_SURNAME' | tr }}: {{ surname }}</div>
    <div>{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_BIRTHDAY' | tr }}: {{ birthday | date: 'EE, dd.MM.yyyy' }}</div>
    <div>{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_JOIN_DATE' | tr }} : {{ join_date | date: 'EE, dd.MM.yyyy' }}</div>
    <mat-divider></mat-divider>

    <div>{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_STREETNAME' | tr }}: {{ streetname }}</div>
    <div>{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_STREETNUMBER' | tr }}: {{ streetnumber }}</div>
    <div>{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_ZIPCODE' | tr }}: {{ zipcode }}</div>
    <div>{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_LOCATION' | tr }}: {{ location }}</div>
    <mat-divider></mat-divider>

    <div>
      {{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_LIST_EMAIL_ADDRESSES' | tr }}:
      <ng-container *ngFor="let emailAddress of emailAddresses"
        ><a [href]="'mailto:' + emailAddress">{{ emailAddress }}</a
        >,
      </ng-container>
    </div>
    <div>
      {{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_PHONE_NUMBERS' | tr }}:
      <ng-container *ngFor="let number of phoneNumbers"
        >({{ number.label }}) <a [href]="'tel:' + number.phoneNumber">{{ number.phoneNumber }}</a
        >,
      </ng-container>
    </div>
    <mat-divider></mat-divider>

    <div>{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_ACTIVITY' | tr }}: {{ activity }}</div>
    <div>{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_BV_MEMBER' | tr }}: {{ govMember }}</div>
    <div>{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_MEMBER_NUMBER' | tr }}: {{ memberNumber }}</div>
    <mat-divider></mat-divider>

    <div>{{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_GROUPS_JOINED' | tr }}:</div>
    <ol>
      <li *ngFor="let group of this.joined">
        <b *ngIf="group.type === 1">[{{ group.groupName }}]</b> {{ group.name }}
      </li>
    </ol>
    <mat-divider></mat-divider>

    <div>{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_PERFORMANCE_BADGES_TITLE' | tr }}:</div>
    <ol>
      <li *ngFor="let userPerformanceBadge of this.userPerformanceBadges">
        <span matLine
          >{{ userPerformanceBadge.performanceBadgeName }}
          {{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_PERFORMANCE_BADGES_WITH' | tr }}
          {{ userPerformanceBadge.instrumentName }}
        </span>
        <span *ngIf="userPerformanceBadge.date" matLine>; Datum: {{ userPerformanceBadge.date | date: 'dd.MM.yyyy' }}</span>
        <span *ngIf="userPerformanceBadge.grade" matLine>; Erfolg: {{ userPerformanceBadge.grade }}</span>
        <span *ngIf="userPerformanceBadge.note" matLine>; Anmerkung: {{ userPerformanceBadge.note }}</span>
      </li>
    </ol>

    <div>{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_BADGES_TITLE' | tr }}:</div>
    <ol>
      <li *ngFor="let badge of this.userBadges">
        <span matLine
          >{{ badge.description }};
          <span>Datum: {{ badge.getDate | date: 'dd.MM.yyyy' }}</span>
          <span *ngIf="badge.reason">; Begründung: {{ badge.reason }}</span>
        </span>
      </li>
    </ol>
    <mat-divider></mat-divider>

    <div>{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_INTERAL_COMMENT' | tr }}:</div>
    <mat-form-field appearance="outline" style="width: 100%">
      <textarea [(ngModel)]="internalComment" matInput name="internalComment" ngModel readonly></textarea>
    </mat-form-field>
    <div>{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_USERNAME' | tr }}: {{ username }}</div>
    <div>{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_ACTIVATED' | tr }}: {{ activated | boolean }}</div>
    <div>{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_INFORMATION_DENIED' | tr }} : {{ informationDenied | boolean }}</div>
  </div>
</div>
<div mat-dialog-actions>
  <button [mat-dialog-close] mat-button>{{ 'CLOSE' | tr }}</button>
</div>
