<h1 mat-dialog-title>{{'CINEMA_TICKETS_ADMINISTRATION_MOVIE_INFO_MODAL_INFO' | translate}} {{name}}</h1>
<div mat-dialog-content>
  <div class="row">
    <p class="col-12">
      <b>{{'CINEMA_TICKETS_ADMINISTRATION_DATE' | translate}}:</b>
      {{date | date:'dd.MM.yyyy'}}
    </p>
  </div>

  <div class="row" style="margin-bottom: 15px;">
    <p class="col-12">
      <b>{{'CINEMA_TICKETS_ADMINISTRATION_TRAILER' | translate}}: </b>
      <a href="{{trailerLink}}" target="_blank" rel="noopener">{{trailerLink}}</a>
    </p>
  </div>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'CINEMA_TICKETS_ADMINISTRATION_MOVIE_EDIT_MODAL_POSTER_PREVIEW' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <img alt="Poster of the movie" class="col-12 col-sm-12 col-md-8 col-lg-4 offset-md-2 offset-lg-4"
         src="{{imageLink}}"/>
  </mat-expansion-panel>

  <div class="row" style="margin-top: 15px;">
    <mat-form-field class="col-12">
      <input (keyup)="applyFilter($event.target.value)" matInput
             placeholder="{{'SEARCH' | translate}}"/>
    </mat-form-field>
  </div>
  <div class="row">
    <table [dataSource]="dataSource" class="col-12" mat-table>

      <ng-container matColumnDef="name">
        <th *matHeaderCellDef
            mat-header-cell> {{'CINEMA_TICKETS_ADMINISTRATION_MOVIE_INFO_MODAL_TABLE_NAME' | translate}} </th>
        <td *matCellDef="let booking" mat-cell> {{booking.firstname + ' ' + booking.surname}} </td>
        <td *matFooterCellDef mat-footer-cell> {{'CINEMA_TICKETS_BOOKED_TICKETS' | translate}} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th *matHeaderCellDef
            mat-header-cell> {{'CINEMA_TICKETS_ADMINISTRATION_MOVIE_INFO_MODAL_TABLE_AMOUNT' | translate}} </th>
        <td *matCellDef="let booking" mat-cell> {{booking.amount}} </td>
        <td *matFooterCellDef mat-footer-cell> {{bookedTickets}} </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      <tr *matFooterRowDef="displayedColumns" mat-footer-row></tr>
    </table>
  </div>

</div>
<div mat-dialog-actions>
  <button [mat-dialog-close] mat-button>{{'CLOSE' | translate}}</button>
</div>
