<h1 mat-dialog-title>{{ 'CINEMA_TICKETS_ADMINISTRATION_MOVIE_INFO_MODAL_INFO' | tr }} {{ name }}</h1>
<div mat-dialog-content>
  <p>
    <b>{{ 'CINEMA_TICKETS_ADMINISTRATION_DATE' | tr }}:</b>
    {{ date | date: 'dd.MM.yyyy' }}
  </p>

  <p>
    <b>{{ 'CINEMA_TICKETS_ADMINISTRATION_TRAILER' | tr }}: </b>
    <a href="{{ trailerLink }}" target="_blank" rel="noopener">{{ trailerLink }}</a>
  </p>

  <mat-expansion-panel style="text-align: center">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'CINEMA_TICKETS_ADMINISTRATION_MOVIE_EDIT_MODAL_POSTER_PREVIEW' | tr }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <img alt="Poster of the movie" src="{{ imageLink }}" />
  </mat-expansion-panel>

  <app-movie-bookings-table [bookedTickets]="bookedTickets" [bookings]="bookings" *ngIf="!loading"></app-movie-bookings-table>

  <mat-progress-bar mode="indeterminate" *ngIf="loading" style="margin-top: 15px"></mat-progress-bar>
</div>
<div mat-dialog-actions>
  <button [mat-dialog-close] mat-button>{{ 'CLOSE' | tr }}</button>
</div>
