/* The actual popup (appears on top) */
.floating {
  width: 160px;
  padding: 8px 0;
  position: absolute;
  z-index: 100;
  bottom: -85%;
  left: 20%;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 100%;
}
