<footer class="container-fluid">
  <div class="row" id="footerContainer">
    <div class="footer-heading col-md-3 offset-md-2 col-sm-8 offset-sm-2">
      <a href="https://datepoll.org" rel="noopener" style="color: white" target="_blank">DatePoll</a>
    </div>
    <div class="col-md-3 offset-md-2 col-sm-8 offset-sm-2">
      <div class="footer-heading">Links</div>
      <ul>
        <li>
          <a href="{{ serverInfo.community_url }}" rel="noopener" target="_blank">{{ serverInfo.community_name }}</a>
        </li>
        <!--        <li><a (click)="openFeedbackModal()">Feedback</a></li>-->
        <li>
          <a (click)="openAboutModal()">{{ 'ABOUT' | translate }}</a>
        </li>
        <li class="dark-theme">
          <mat-select (selectionChange)="setLang($event)" [(value)]="selected" placeholder="{{ 'LANGUAGE' | translate }}">
            <mat-option value="de">{{ 'LANGUAGE_GERMAN' | translate }}</mat-option>
            <mat-option value="en">{{ 'LANGUAGE_ENGLISH' | translate }}</mat-option>
          </mat-select>
        </li>
      </ul>
    </div>
  </div>

  <div class="row" id="footerBarContainer">
    <div class="col-md-3 offset-md-2 col-sm-8 offset-sm-2" style="margin-bottom: 1.5vh">
      <div style="float: left;">Mady with&nbsp;</div>
      <div style="float: left; color: red">&hearts;&nbsp;</div>
      <div style="float: left;">
        by all
        <a href="https://gitlab.com/groups/BuergerkorpsEggenburg/-/group_members" rel="noopener" style="color: #2196f3" target="_blank"
          >Contributors</a
        >
      </div>
    </div>

    <div class="col-md-3 offset-md-2 col-sm-8 offset-sm-2 text-right">
      <a routerLink="/info/imprint" style="color: #2196f3"> {{ 'IMPRINT' | translate }} & {{ 'PRIVACY_POLICY' | translate }}</a>
    </div>
  </div>
</footer>
