<h1 mat-dialog-title>{{'EVENTS_ADMINISTRATION_USER_MANAGEMENT_FOR_EVENT' | translate}} {{name}}</h1>
<div mat-dialog-content>
  <app-event-user-management *ngIf="event != null" [resultUsers]="event.getResultUsers()"
                             [event]="event"></app-event-user-management>

  <mat-progress-bar *ngIf="sendingRequest" mode="indeterminate" style="margin-top: 15px;"></mat-progress-bar>
</div>
<div mat-dialog-actions style="margin-top: 15px">
  <button [mat-dialog-close] mat-button>{{'CLOSE' | translate}}</button>
</div>
