<h1 style="word-break: break-all">Datenschutzerklärung</h1>

<h2>Wer wir sind</h2>
<p>Mit einem Website-Besuch werden keine Drittinhalte nachgeladen oder sonstige Trackingmaßnahmen betrieben.</p>
<p>Falls du trotzdem fragen hast, kannst du dich gerne an //TODO: einfügen wenden.</p>

<h2>Welche personenbezogenen Daten wir sammeln und warum wir sie sammeln</h2>
<p>Wenn Besucher auf der Webapplication einen Account erstellen, werden folgende Daten auf unserem Server gespeichert!
  <br>- Email-Adresse,
  <br>- Vorname,
  <br>- Nachname,
  <br>- Wohnort,
  <br>- Straßenname,
  <br>- Straßennummer,
  <br>- Postleitzahl,
  <br>Diese Daten werden nur gespeichert um eine aktuelle List aller Mitglieder zu haben. Zum Beispiel zur Kontaktaufnahme, wegen eines Email-Verteilers oder zur Zusendung eines Pakets.
  <br>- Geburtsdatum
  <br>Das Geburtsdatum wird gespeichert damit die Administratoren wissen wann der Benutzer Geburtstag hat. Zum Beispiel um dem Benutzer zum Geburtstag zu gratulieren.
  <br>- Passwort (SHA512 gehasht)
  <br>Das Passwort wird gespeichert um zu überprüfen ob du auch wirklich du bist bei deiner nächsten Anmeldung.
</p>

<h2>Cookies</h2>
<p>Wir speichern nur dann Cookies in deinem Browser wenn du dich auf DatePoll anmeldest. In den Cookie wird ein Token gespeichert, welcher für die Authentifizierung notwendig ist.
  Sollte das Feld [Angemeldet bleiben] angekreuzt sein, so wird der Cookie zeitlich unbegrenzt gespeichert. Sollte dieses Feld nicht angekreuzt sein, so wird der Cookie nach der Schließung der Website gelöscht.
</p>

<h2>Analysedienste</h2>
<p>Wir analysieren keine Daten, wir speichern keine IP-Adressen oder sonstige Daten. Wir benutzen weder Google-Analytics
  noch sonstige Analysedienste, für uns ist es unwichtig, wieviele Besucher diese Website hat und wer sie benutzt.</p>

<h2>Mit wem wir deine Daten teilen</h2>
<p>Niemanden. Niemals!</p>

<h2>Von welchen Drittanbietern wir Daten erhalten</h2>
<p>Wir erhalten keine Daten von Drittanbieter und geben auch keine weiter.</p>

<h2>Welche Rechte du an deinen Daten hast</h2>
<p>Wenn du ein Konto auf dieser Website besitzt, kannst du einen Export deiner
  personenbezogenen Daten bei uns anfordern, inklusive aller Daten, die du uns mitgeteilt hast. Darüber hinaus kannst
  du die Löschung aller personenbezogenen Daten, die wir von dir gespeichert haben, anfordern. Dies umfasst nicht die
  Daten, die wir aufgrund administrativer, rechtlicher oder sicherheitsrelevanter Notwendigkeiten aufbewahren müssen.
</p>

<h2>Wie lange wir deine Daten speichern</h2>
<p>Deine Daten werden auf unbegrenzter Zeit auf unseren Servern gespeichert. Du kannst deinen Account jederzeit löschen,
  dabei wird dein Account aber nur für normale Benutzer versteckt. Dieser Schritt ist notwendig um Abstimmungen oder
  sonstige Daten im nachhinein nicht zu fälschen. Wenn du uns per Email an //TODO: einfügen eine Löschungsaufforderung
  schickst werden die Daten endgültig gelöscht.
</p>
