<div *ngIf="movieOrders == null" style="margin-top: 20vh" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0.5%">
  <mat-progress-spinner mode="indeterminate" style="margin: auto"></mat-progress-spinner>
  <h2>{{ 'LOADING' | tr }}</h2>
</div>

<mat-accordion [multi]="true" *ngIf="movieOrders?.length != 0">
  <mat-expansion-panel
    *ngFor="let movieOrder of movieOrders"
    [expanded]="movieOrder.getTicketOrders().length != 0"
    id="movie-order-print-{{ movieOrder.movieID }}"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>{{ movieOrder.date | date: 'EE, dd.MM' }} - {{ movieOrder.movieName }}</mat-panel-title>
    </mat-expansion-panel-header>

    <div fxLayout="row" fxLayoutAlign="space-between">
      <span *ngIf="movieOrder.getTicketOrders().length != 0">
        {{ 'CINEMA_TICKETS_SERVICE_BOOKING' | tr }}: {{ movieOrder.getTicketOrders().length }}
      </span>
      <span *ngIf="movieOrder.getTicketOrders().length == 0">
        {{ 'CINEMA_TICKETS_SERVICE_NO_TICKETS_BOOKED' | tr }}
      </span>

      <div>
        <button
          mat-flat-button
          color="accent"
          printSectionId="movie-order-print-{{ movieOrder.movieID }}"
          ngxPrint
          [useExistingCss]="true"
          printTitle="{{ movieOrder.movieName }}"
        >
          <mat-icon>print</mat-icon>
          {{ 'PRINT' | tr }}
        </button>
      </div>
    </div>

    <mat-list *ngIf="movieOrder.getTicketOrders().length == 0">
      <mat-list-item>
        {{ 'CINEMA_TICKETS_SERVICE_NO_TICKETS_BOOKED' | tr }}
      </mat-list-item>
    </mat-list>

    <mat-list *ngIf="movieOrder.getTicketOrders().length != 0">
      <mat-list-item>
        <div matLine>
          {{ 'CINEMA_TICKETS_SERVICE_USERNAME' | tr }}
          <div style="float: right">{{ 'CINEMA_TICKETS_SERVICE_TICKET_AMOUNT' | tr }}</div>
        </div>
      </mat-list-item>
      <mat-list-item *ngFor="let ticket of movieOrder.getTicketOrders()">
        <div matLine>
          {{ ticket.userName }}
          <div style="float: right">{{ ticket.amount }}</div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div matLine>
          <b>{{ 'CINEMA_TICKETS_BOOKED_TICKETS' | tr }}</b>
          <div style="float: right">
            <b>{{ movieOrder.getBookedTicketsAmount() }}</b>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>

<div *ngIf="movieOrders?.length == 0" style="margin-top: 20vh" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0.5%">
  <mat-icon>remove_circle_outline</mat-icon>
  <span> {{ 'CINEMA_TICKETS_SERVICE_NOT_APPLIED_FOR_SERVICE' | tr }}</span>
  <div>
    <button color="primary" mat-flat-button routerLink="/home/cinema/tickets">
      {{ 'CINEMA_TICKETS_SERVICE_NOT_APPLIED_FOR_SERVICE_APPLY_NOW' | tr }}
    </button>
  </div>
</div>
