<div *ngIf="movieOrders == null" style="margin-top: 20vh" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0.5%">
  <mat-progress-spinner mode="indeterminate" style="margin: auto"></mat-progress-spinner>
  <h2>{{ 'LOADING' | translate }}</h2>
</div>

<mat-accordion [multi]="true" *ngIf="movieOrders?.length != 0">
  <mat-expansion-panel *ngFor="let movieOrder of movieOrders" [expanded]="movieOrder.getTicketOrders().length != 0">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ movieOrder.date | date: 'dd.MM' }} | {{ movieOrder.movieName }}</mat-panel-title>
      <mat-panel-description *ngIf="movieOrder.getTicketOrders().length != 0">
        {{ 'CINEMA_TICKETS_SERVICE_BOOKING' | translate }}: {{ movieOrder.getTicketOrders().length }}
      </mat-panel-description>
      <mat-panel-description *ngIf="movieOrder.getTicketOrders().length == 0">
        {{ 'CINEMA_TICKETS_SERVICE_NO_TICKETS_BOOKED' | translate }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div fxLayout="row" fxLayoutAlign="end">
      <button
        mat-flat-button
        color="accent"
        printSectionId="movie-order-print-{{ movieOrder.movieID }}"
        ngxPrint
        [useExistingCss]="true"
        printTitle="{{ movieOrder.movieName }}"
      >
        <mat-icon>print</mat-icon>
        {{ 'PRINT' | translate }}
      </button>
    </div>

    <div id="movie-order-print-{{ movieOrder.movieID }}">
      <mat-list *ngIf="movieOrder.getTicketOrders().length == 0">
        <mat-list-item>
          {{ 'CINEMA_TICKETS_SERVICE_NO_TICKETS_BOOKED' | translate }}
        </mat-list-item>
      </mat-list>

      <mat-list *ngIf="movieOrder.getTicketOrders().length != 0">
        <mat-list-item>
          <div matLine>
            {{ 'CINEMA_TICKETS_SERVICE_USERNAME' | translate }}
            <div style="float: right">{{ 'CINEMA_TICKETS_SERVICE_TICKET_AMOUNT' | translate }}</div>
          </div>
        </mat-list-item>
        <mat-list-item *ngFor="let ticket of movieOrder.getTicketOrders()">
          <div matLine>
            {{ ticket.userName }}
            <div style="float: right">{{ ticket.amount }}</div>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div matLine>
            <b>{{ 'CINEMA_TICKETS_BOOKED_TICKETS' | translate }}</b>
            <div style="float: right">
              <b>{{ movieOrder.getBookedTicketsAmount() }}</b>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<div *ngIf="movieOrders?.length == 0" style="margin-top: 20vh" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0.5%">
  <mat-icon>remove_circle_outline</mat-icon>
  <span> {{ 'CINEMA_TICKETS_SERVICE_NOT_APPLIED_FOR_SERVICE' | translate }}</span>
  <div>
    <button color="primary" mat-flat-button routerLink="/home/cinema/tickets">
      {{ 'CINEMA_TICKETS_SERVICE_NOT_APPLIED_FOR_SERVICE_APPLY_NOW' | translate }}
    </button>
  </div>
</div>
