<div class="d-container dark-theme" style="padding-top: 15%">
  <div fxLayout="column" fxLayoutAlign="space-between center">
    <div fxFlex>
      <div fxLayout="row" fxLayoutGap="2%">
        <img src="./../../assets/logo.png" style="height: 110px" />
        <h1 style="color: white; padding-top: 21%">DatePoll</h1>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" style="margin-top: 15px">
    <mat-card fxFlex="90%" fxFlex.gt-md="40%">
      <mat-card-content>
        <p>Der Download sollte in kürze automatisch starten.</p>
      </mat-card-content>
      <div fxLayout="row break" fxLayoutGap="5% grid">
        <div>
          <button mat-button (click)="goBack()">{{ 'BACK' | translate }}</button>
        </div>
        <div>
          <button
            mat-stroked-button
            (click)="$event.stopPropagation(); copyToClipboard(apiUrl + this.token); tooltip.disabled = false; tooltip.show()"
            [matTooltipDisabled]="true"
            *ngIf="token"
            matTooltip="{{ 'COPIED_LINK' | translate }}"
            #tooltip="matTooltip"
            matTooltipPosition="right"
          >
            <mat-icon>content_copy</mat-icon>
            {{ 'COPY_LINK' | translate }}
          </button>
        </div>
        <div>
          <a mat-stroked-button color="warn" href="{{ this.apiUrl + this.token }}" *ngIf="token">Nicht geklappt? Klick mich.</a>
        </div>
      </div>
    </mat-card>
  </div>
</div>
<app-footer></app-footer>
