<div fxLayout="row" fxLayoutAlign="space-between">
  <h1 mat-dialog-title>{{ 'MANAGEMENT_GROUPS_INFO_GROUP_MODAL_TITLE' | translate }}{{ groupName }}</h1>
  <div *ngIf="viewMode.includes('list')">
    <button mat-flat-button color="primary" (click)="viewMode = 'statistics'">
      {{ 'MANAGEMENT_GROUPS_INFO_GROUP_MODAL_STATISTICS' | translate }}
    </button>
  </div>
  <div *ngIf="viewMode.includes('statistics')">
    <button mat-flat-button color="primary" (click)="viewMode = 'list'">
      {{ 'MANAGEMENT_GROUPS_INFO_GROUP_MODAL_MEMBERS' | translate }}
    </button>
  </div>
</div>

<div mat-dialog-content *ngIf="viewMode.includes('statistics')">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <h3>{{ 'MANAGEMENT_GROUPS_INFO_GROUP_MODAL_USERS_ONLY_IN_THIS_GROUP' | translate }} : {{ group?.users_only_in_this_group?.length }}</h3>
    <div fxLayout="row" fxLayoutGap="2%">
      <div>
        <button
          mat-flat-button
          printSectionId="users-only-in-this-group"
          ngxPrint
          *ngIf="showUsersOnlyInThisGroup"
          [useExistingCss]="true"
          printTitle="{{ 'MANAGEMENT_GROUPS_INFO_GROUP_MODAL_USERS_ONLY_IN_THIS_GROUP' | translate }}"
        >
          <mat-icon>print</mat-icon>
          {{ 'PRINT' | translate }}
        </button>
      </div>
      <div>
        <button
          mat-flat-button
          color="accent"
          *ngIf="!showUsersOnlyInThisGroup"
          (click)="showUsersOnlyInThisGroup = !showUsersOnlyInThisGroup"
        >
          {{ 'SHOW_MORE' | translate }}
        </button>
        <button
          mat-flat-button
          color="accent"
          *ngIf="showUsersOnlyInThisGroup"
          (click)="showUsersOnlyInThisGroup = !showUsersOnlyInThisGroup"
        >
          {{ 'SHOW_LESS' | translate }}
        </button>
      </div>
    </div>
  </div>

  <mat-list *ngIf="showUsersOnlyInThisGroup" id="users-only-in-this-group">
    <mat-list-item *ngFor="let user of group?.users_only_in_this_group">
      <span matLine>{{ user.firstname }} {{ user.surname }} - {{ user.created_at | date: 'dd.MM.yyy' }}</span>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>

  <div fxLayout="row" fxLayoutAlign="space-between" style="margin-top: 15px">
    <h3>{{ 'MANAGEMENT_GROUPS_INFO_GROUP_MODAL_USERS_BY_JOIN_YEAR' | translate }}</h3>
    <div fxLayout="row" fxLayoutGap="2%">
      <div>
        <button
          mat-flat-button
          color="accent"
          *ngIf="!showUsersGroupedByJoinYear"
          (click)="showUsersGroupedByJoinYear = !showUsersGroupedByJoinYear"
        >
          {{ 'SHOW_MORE' | translate }}
        </button>
        <button
          mat-flat-button
          color="accent"
          *ngIf="showUsersGroupedByJoinYear"
          (click)="showUsersGroupedByJoinYear = !showUsersGroupedByJoinYear"
        >
          {{ 'SHOW_LESS' | translate }}
        </button>
      </div>
    </div>
  </div>

  <mat-accordion multi *ngIf="showUsersGroupedByJoinYear">
    <mat-expansion-panel *ngFor="let year of group?.users_grouped_by_join_year">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ year.year }}
        </mat-panel-title>

        <button
          (click)="$event.stopPropagation()"
          mat-flat-button
          printSectionId="users-grouped-by-join-year-{{ year.id }}"
          ngxPrint
          [useExistingCss]="true"
          style="margin-right: 10px"
          printTitle="{{ 'MANAGEMENT_GROUPS_INFO_GROUP_MODAL_USERS_BY_JOIN_YEAR' | translate }}"
        >
          <mat-icon>print</mat-icon>
          {{ 'PRINT' | translate }}
        </button>
      </mat-expansion-panel-header>

      <mat-list id="users-grouped-by-join-year-{{ year.id }}">
        <mat-list-item *ngFor="let user of year?.users">
          <span matLine>{{ user.firstname }} {{ user.surname }} - {{ user.created_at | date: 'dd.MM.yyy' }}</span>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div mat-dialog-content *ngIf="viewMode.includes('list')">
  <mat-form-field>
    <input (keyup)="applyFilter($event.target.value)" matInput placeholder="{{ 'MANAGEMENT_USERS_SEARCH' | translate }}" />
  </mat-form-field>

  <table [dataSource]="dataSource" class="table-responsive" mat-table matSort>
    <!-- Role Column -->
    <ng-container matColumnDef="role">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'MANAGEMENT_GROUPS_INFO_GROUP_MODAL_TABLE_HEADER_ROLE' | translate }}</th>
      <td *matCellDef="let user" mat-cell>{{ user.role }}</td>
    </ng-container>

    <!-- Firstname Column -->
    <ng-container matColumnDef="firstname">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'MANAGEMENT_USERS_FIRSTNAME' | translate }}</th>
      <td *matCellDef="let user" mat-cell>{{ user.firstname }}</td>
    </ng-container>

    <!-- Surname Column -->
    <ng-container matColumnDef="surname">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'MANAGEMENT_USERS_SURNAME' | translate }}</th>
      <td *matCellDef="let user" mat-cell>{{ user.surname }}</td>
    </ng-container>

    <!-- Action movie Column -->
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>{{ 'MANAGEMENT_USERS_ACTIONS' | translate }}</th>
      <td *matCellDef="let user" mat-cell (click)="$event.stopPropagation()">
        <button
          (click)="onEditRole(user)"
          color="accent"
          mat-icon-button
          matTooltip="{{ 'MANAGEMENT_GROUPS_INFO_GROUP_MDOAL_TABLE_ACTION_EDIT' | translate }}"
        >
          <mat-icon>create</mat-icon>
        </button>

        <button
          (click)="onRemoveUserFromGroup(user.id)"
          color="warn"
          mat-icon-button
          matTooltip="{{ 'MANAGEMENT_GROUPS_INFO_GROUP_MODAL_TABLE_ACTION_REMOVE' | translate }}"
        >
          <mat-icon>remove_circle</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row (click)="onEditRole(row)"></tr>
  </table>

  <mat-progress-bar *ngIf="sendingRequest" mode="indeterminate"></mat-progress-bar>
  <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>

  <mat-spinner *ngIf="group == null" style="margin: auto"></mat-spinner>
</div>
<div mat-dialog-actions style="margin-top: 15px">
  <button [mat-dialog-close] mat-button>{{ 'CLOSE' | translate }}</button>
</div>
