<h2 mat-dialog-title>{{'SETTINGS_PERSONAL_DATA_PERSONAL_EMAIL_CHANGE' | translate}}</h2>
<mat-dialog-content>
  <mat-vertical-stepper #stepper [linear]="true">
    <mat-step [editable]="false">
      <ng-template matStepLabel>{{'SETTINGS_PERSONAL_DATA_MODAL_EMAIL_ADDRESS_START' | translate}}</ng-template>
      <mat-card class="error-mat-card">
        <mat-card-content>{{'SETTINGS_PERSONAL_DATA_MODAL_EMAIL_ADDRESS_START_DESCRIPTION' | translate}}</mat-card-content>
      </mat-card>

      <mat-progress-bar mode="indeterminate" *ngIf="showOldEmailVerificiationEmailSendingSpinner"></mat-progress-bar>

      <button mat-button (click)="sendOldEmailVerification()" *ngIf="!showOldEmailVerificiationEmailSendingSpinner">
        {{'NEXT' | translate}}
      </button>
    </mat-step>

    <mat-step [editable]="false">
      <form #oldEmailVerificationForm="ngForm" (ngSubmit)="checkOldEmailVerificationCode()">
        <ng-template matStepLabel>{{'SETTINGS_PERSONAL_DATA_MODAL_EMAIL_ADDRESS_ENTER_VERIFICATION_CODE' | translate}}
        </ng-template>
        <mat-card class="success-mat-card">
          <mat-card-content>
            {{'SETTINGS_PERSONAL_DATA_MODAL_EMAIL_ADDRESS_VERIFICATION_EMAIL_SENT' | translate}}
          </mat-card-content>
        </mat-card>

        <mat-card class="error-mat-card" *ngIf="showOldEmailVerificationCodeIncorrectCard">
          <mat-card-content>
            {{'SETTINGS_PERSONAL_DATA_MODAL_EMAIL_ADDRESS_VERIFICATION_CODE_INCORRECT' | translate}}
          </mat-card-content>
        </mat-card>

        <mat-card class="error-mat-card" *ngIf="showOldEmailVerificationCodeRateLimitExceededCard">
          <mat-card-content>
            {{'SETTINGS_PERSONAL_DATA_MODAL_EMAIL_ADDRESS_RATE_LIMIT_EXCEEDED' | translate}}
          </mat-card-content>
        </mat-card>

        <mat-form-field class="col-12">
          <input matInput id="oldEmailVerificationCode" name="oldEmailVerificationCode" type="number"
                 ngModel [(ngModel)]="oldEmailVerificationCode" #oldEmailVerificationCodeModel="ngModel"
                 required number [range]="[100000, 999999]" min="100000" max="999999"
                 placeholder="{{'SETTINGS_PERSONAL_DATA_MODAL_EMAIL_ADDRESS_VERIFICATION_CODE' | translate}}">
          <mat-error *ngIf="oldEmailVerificationCodeModel.invalid">
            {{'SETTINGS_PERSONAL_DATA_MODAL_EMAIL_ADDRESS_VERIFICATION_CODE_NOT_VALID' | translate}}
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-button type="submit"
                  [disabled]="!oldEmailVerificationForm.form.valid">
            {{'NEXT' | translate}}
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [editable]="false">
      <form #newEmailSendForm="ngForm" (ngSubmit)="sendNewEmailVerification()">
        <ng-template matStepLabel>{{'SETTINGS_PERSONAL_DATA_MODAL_EMAIL_ADDRESS_ENTER_NEW_EMAIL_ADDRESS' | translate}}
        </ng-template>

        <mat-card class="success-mat-card">
          <mat-card-content>
            {{'SETTINGS_PERSONAL_DATA_MODAL_EMAIL_ADDRESS_OLD_EMAIL_VERIFICATION_CODE_CORRECT' | translate}}
          </mat-card-content>
        </mat-card>

        <mat-card class="error-mat-card" *ngIf="showNewEmailIsOldEmailCard">
          <mat-card-content>
            {{'SETTINGS_PERSONAL_DATA_MODAL_EMAIL_ADDRESS_NEW_EMAIL_IS_OLD_EMAIL' | translate}}
          </mat-card-content>
        </mat-card>

        <mat-form-field class="col-12">
          <input matInput id="newEmail" name="newEmail" type="email"
                 ngModel [(ngModel)]="newEmailAddress" #newEmailAddressModel="ngModel"
                 required maxlength="128" email
                 placeholder="{{'SETTINGS_PERSONAL_DATA_MODAL_EMAIL_ADDRESS_EMAIL_ADDRESS' | translate}}">
          <mat-error *ngIf="newEmailAddressModel.invalid">
            {{'SETTINGS_PERSONAL_DATA_MODAL_EMAIL_ADDRESS_EMAIL_ADDRESS_NOT_VALID' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-progress-bar mode="indeterminate" *ngIf="showNewEmailVerificationEmailSendingSpinner"></mat-progress-bar>

        <div>
          <button mat-button type="submit"
                  [disabled]="!newEmailSendForm.form.valid" *ngIf="!showNewEmailVerificationEmailSendingSpinner">
            {{'NEXT' | translate}}
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [editable]="false">
      <form #newEmailVerificationForm="ngForm" (ngSubmit)="checkNewEmailVerificationCode()">
        <ng-template matStepLabel>{{'SETTINGS_PERSONAL_DATA_MODAL_EMAIL_ADDRESS_ENTER_VERIFICATION_CODE' | translate}}
        </ng-template>

        <mat-card class="success-mat-card">
          <mat-card-content>
            {{'SETTINGS_PERSONAL_DATA_MODAL_EMAIL_ADDRESS_VERIFICATION_EMAIL_SENT' | translate}}
          </mat-card-content>
        </mat-card>

        <mat-card class="error-mat-card" *ngIf="showNewEmailVerificationCodeIncorrectCard">
          <mat-card-content>
            {{'SETTINGS_PERSONAL_DATA_MODAL_EMAIL_ADDRESS_VERIFICATION_CODE_INCORRECT' | translate}}
          </mat-card-content>
        </mat-card>

        <mat-card class="error-mat-card" *ngIf="showNewEmailVerificationCodeRateLimitExceededCard">
          <mat-card-content>
            {{'SETTINGS_PERSONAL_DATA_MODAL_EMAIL_ADDRESS_RATE_LIMIT_EXCEEDED' | translate}}
          </mat-card-content>
        </mat-card>

        <mat-form-field class="col-12">
          <input matInput id="newEmailVerificationCode" name="newEmailVerificationCode" type="number"
                 ngModel [(ngModel)]="newEmailVerificationCode" #newEmailVerificationCodeModel="ngModel"
                 required number [range]="[100000, 999999]" min="100000" max="999999"
                 placeholder="{{'SETTINGS_PERSONAL_DATA_MODAL_EMAIL_ADDRESS_VERIFICATION_CODE' | translate}}">
          <mat-error *ngIf="newEmailVerificationCodeModel.invalid">
            {{'SETTINGS_PERSONAL_DATA_MODAL_EMAIL_ADDRESS_VERIFICATION_CODE_NOT_VALID' | translate}}
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-button
                  [disabled]="!newEmailVerificationForm.form.valid"
                  type="submit">
            {{'NEXT' | translate}}
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [editable]="false">
      <ng-template matStepLabel>{{'DONE' | translate}}</ng-template>
      <mat-card style="margin-top: 10px; margin-bottom: 15px; background-color: #689F38;">
        <mat-card-content>
          {{'SETTINGS_PERSONAL_DATA_MODAL_EMAIL_ADDRESS_FINISHED' | translate}}
        </mat-card-content>
      </mat-card>
    </mat-step>

  </mat-vertical-stepper>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{'CLOSE' | translate}}</button>
</mat-dialog-actions>



