<h2 mat-dialog-title>{{'SETTINGS_PERSONAL_DATA_PERSONAL_EMAIL_ADDRESSES_CHANGE' | translate}}</h2>
<mat-dialog-content>
  <div class="row">
    <div class="col-12">
      <app-do-not-forget-to-save></app-do-not-forget-to-save>
    </div>
  </div>

  <app-email-addresses-list [emailAddressesInput]="emailAddresses"
                            (emailAddressesChanged)="onEmailAddressesChange($event)"></app-email-addresses-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{'CLOSE' | translate}}</button>
  <button mat-button mat-dialog-close (click)="onSave()" class="success-button">{{'SAVE' | translate}}</button>
</mat-dialog-actions>

<ng-template #successfullySavedEmailAddresses>
  <h2>{{'SETTINGS_PERSONAL_DATA_MODAL_EMAIL_ADDRESS_SAVED_SUCCESSFUL' | translate}}</h2>
</ng-template>
