<mat-card
  ><h1>{{ 'EVENTS_ADMINISTRATION_CREATE_EVENT' | translate }}</h1>

  <app-go-back-button></app-go-back-button>

  <form #form="ngForm" (ngSubmit)="create(form)" fxLayout="row break" fxLayout.lt-xl="column" fxLayoutGap="2%" fxLayoutAlign="start">
    <!-- Name -->
    <mat-form-field fxFlex="100%">
      <mat-label>{{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_NAME' | translate }}</mat-label>
      <input #nameModel="ngModel" id="name" matInput maxlength="190" minlength="1" name="name" ngModel required type="text" />
      <mat-error *ngIf="nameModel.invalid">
        {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_NAME_INCORRECT' | translate }}
      </mat-error>
    </mat-form-field>

    <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
      <!-- Group management -->
      <app-group-and-subgroup-type-input-select
        fxFlex="90%"
        (allGroupsAndSubgroupsChange)="onFreeChange($event)"
        (groupsAndSubgroupsChange)="onJoinedChange($event)"
        [allGroupsAndSubgroups]="free"
        [disabled]="allMembers"
        [selectedGroupsAndSubgroups]="joined"
      >
      </app-group-and-subgroup-type-input-select>

      <app-all-groups-switch (toggleChange)="allMembersChanged($event)"></app-all-groups-switch>
    </div>

    <!-- Dates -->
    <app-event-dates-management fxFlex="48%" [dates]="dates" (datesChange)="onEventDatesChange($event)"></app-event-dates-management>

    <div fxFlex="48%">
      <!-- Decisions -->
      <app-event-decisions-list (decisionsChanged)="onDecisionsChange($event)" [decisions]="decisions"></app-event-decisions-list>

      <!-- Description -->
      <mat-expansion-panel style="margin-top: 10px">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DESCRIPTION' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field appearance="outline" style="width: 100%">
          <textarea matInput name="description" ngModel style="min-height: 15vh"></textarea>
        </mat-form-field>
      </mat-expansion-panel>
    </div>
  </form>

  <button
    (click)="form.ngSubmit.emit()"
    [disabled]="!form.form.valid"
    color="primary"
    mat-raised-button
    style="width: 100%; margin-top: 15px"
  >
    {{ 'CREATE' | translate }}
  </button>
</mat-card>
