<h1 mat-dialog-title>{{'EVENTS_ADMINISTRATION_INFO_EVENT' | translate}} {{name}}</h1>
<div mat-dialog-content>
  <!-- Name -->
  <div class="row">
    <mat-form-field class="col-12">
      <input matInput id="name" name="name" type="text"
             ngModel #nameModel="ngModel" [(ngModel)]="name"
             maxlength="190" required minlength="1"
             placeholder="{{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_NAME' | translate}}">
      <mat-error *ngIf="nameModel.invalid">
        {{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_NAME_INCORRECT' | translate}}
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Start date -->
  <div class="row" style="margin-top: 15px">
    <h3 class="col-12">{{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_START_DATE' | translate}}</h3>
  </div>
  <div class="row">
    <mat-form-field class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 datepicker-field">
      <input matInput [matDatepicker]="picker_startDate" required
             name="datepicker-startDate" [(ngModel)]="startDate" id="datepicker-startDate"
             placeholder="{{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE' | translate}}">
      <mat-datepicker-toggle matSuffix [for]="picker_startDate"></mat-datepicker-toggle>
      <mat-datepicker #picker_startDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 datepicker-field-mobile">
      <input matInput [matDatepicker]="picker_mobile_startDate" required
             name="datepicker-startDate-mobile" [(ngModel)]="startDate" id="datepicker-startDate-mobile"
             placeholder="{{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE' | translate}}">
      <mat-datepicker-toggle matSuffix [for]="picker_mobile_startDate"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker_mobile_startDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
      <input matInput id="hours-startDate" name="startDateHours" type="number"
             ngModel #startDateHoursModel="ngModel" [(ngModel)]="startDateHours"
             min="0" max="24" required
             placeholder="{{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_HOURS' | translate}}">
      <mat-error *ngIf="startDateHoursModel.invalid">
        {{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_HOURS_INCORRECT' | translate}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
      <input matInput id="minutes-startDate" name="startDateMinutes" type="number"
             ngModel #startDateMinutesModel="ngModel" [(ngModel)]="startDateMinutes"
             min="0" max="60" required
             placeholder="{{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_MINUTES' | translate}}">
      <mat-error *ngIf="startDateMinutesModel.invalid">
        {{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_MINUTES_INCORRECT' | translate}}
      </mat-error>
    </mat-form-field>
  </div>

  <!-- End date -->
  <div class="row">
    <h3 class="col-12">{{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_END_DATE' | translate}}</h3>
  </div>
  <div class="row">
    <mat-form-field class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 datepicker-field">
      <input matInput [matDatepicker]="picker_endDate" required
             name="datepicker-endDate" [(ngModel)]="endDate" id="datepicker-endDate"
             placeholder="{{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE' | translate}}">
      <mat-datepicker-toggle matSuffix [for]="picker_endDate"></mat-datepicker-toggle>
      <mat-datepicker #picker_endDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 datepicker-field-mobile">
      <input matInput [matDatepicker]="picker_mobile_endDate" required
             name="datepicker-endDate-mobile" [(ngModel)]="endDate" id="datepicker-endDate-mobile"
             placeholder="{{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE' | translate}}">
      <mat-datepicker-toggle matSuffix [for]="picker_mobile_endDate"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker_mobile_endDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
      <input matInput id="hours-endDate" name="endDateHours" type="number"
             ngModel #endDateHoursModel="ngModel" [(ngModel)]="endDateHours"
             min="0" max="24" required
             placeholder="{{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_HOURS' | translate}}">
      <mat-error *ngIf="endDateHoursModel.invalid">
        {{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_HOURS_INCORRECT' | translate}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
      <input matInput id="minutes-endDate" name="endDateMinutes" type="number"
             ngModel #endDateMinutesModel="ngModel" [(ngModel)]="endDateMinutes"
             min="0" max="60" required
             placeholder="{{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_MINUTES' | translate}}">
      <mat-error *ngIf="endDateMinutesModel.invalid">
        {{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_MINUTES' | translate}}
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Description -->
  <div class="row" style="margin-bottom: 15px;">
    <div class="col-12">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DESCRIPTION' | translate}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field appearance="outline" class="col-12">
            <textarea matInput style="min-height: 15vh;" ngModel name="description"
                      [(ngModel)]="description"></textarea>
        </mat-form-field>
      </mat-expansion-panel>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'EVENTS_ADMINISTRATION_INFO_EVENT_COMPLETE_CHART' | translate}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                [options]="pieChartOptions"
                [legend]="pieChartLegend">
        </canvas>
      </mat-expansion-panel>

      <mat-card *ngFor="let resultGroup of resultGroups" class="mat-elevation-z4">
        <mat-card-content>
          <h3 *ngIf="resultGroup.id !== -1">{{resultGroup.name}}</h3>
          <h3 *ngIf="resultGroup.id == -1">{{'EVENTS_ADMINISTRATION_INFO_EVENT_SINGLE_SUBGROUPS' | translate}}</h3>

          <mat-divider></mat-divider>

          <div *ngIf="resultGroup.id === -1">
            <div *ngIf="resultGroup.getResultSubgroups().length === 0" style="margin-top: 25px;">
              {{'EVENTS_ADMINISTRATION_INFO_EVENT_NO_SUBGROUPS' | translate}}
            </div>

            <mat-expansion-panel *ngFor="let resultSubgroup of resultGroup.getResultSubgroups()"
                                 [expanded]="resultSubgroup.getResultUsers().length !== 0" style="margin-top: 25px;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  [{{resultSubgroup.parentGroupName}}] {{resultSubgroup.name}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{'EVENTS_ADMINISTRATION_INFO_EVENT_CHART_FOR' | translate}} {{resultSubgroup.name}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <canvas baseChart
                        [data]="resultSubgroup.getChartData()"
                        [labels]="pieChartLabels"
                        [chartType]="pieChartType"
                        [options]="pieChartOptions"
                        [legend]="pieChartLegend">
                </canvas>
              </mat-expansion-panel>

              <mat-list>
                <mat-list-item *ngIf="resultSubgroup.getResultUsers().length === 0">
                  {{'EVENTS_ADMINISTRATION_INFO_EVENT_NO_USERS' | translate}}
                </mat-list-item>

                <mat-list-item *ngFor="let resultUser of resultSubgroup.getResultUsers()">
                  <span>{{resultUser.firstname}} {{resultUser.surname}}: <b
                    *ngIf="resultUser.decision != null">{{resultUser.decision}}</b>
                      <span
                        *ngIf="resultUser.decision == null">{{'EVENTS_ADMINISTRATION_INFO_EVENT_UNKNOWN_VOTING' | translate}}</span></span>
                </mat-list-item>
              </mat-list>
            </mat-expansion-panel>
          </div>

          <div *ngIf="resultGroup.id !== -1">
            <mat-expansion-panel style="margin-top: 25px; margin-bottom: 15px;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'EVENTS_ADMINISTRATION_INFO_EVENT_CHART_FOR' | translate}} {{resultGroup.name}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <canvas baseChart
                      [data]="resultGroup.getChartData()"
                      [labels]="pieChartLabels"
                      [chartType]="pieChartType"
                      [options]="pieChartOptions"
                      [legend]="pieChartLegend">
              </canvas>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'EVENTS_ADMINISTRATION_INFO_EVENT_MEMBERS_IN' | translate}} {{resultGroup.name}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-list>
                <mat-list-item *ngFor="let resultUser of resultGroup.getResultUsers()">
                  <span>{{resultUser.firstname}} {{resultUser.surname}}: <b
                    *ngIf="resultUser.decision != null">{{resultUser.decision}}</b>
                      <span
                        *ngIf="resultUser.decision == null">{{'EVENTS_ADMINISTRATION_INFO_EVENT_UNKNOWN_VOTING' | translate}}</span></span>
                </mat-list-item>
              </mat-list>
            </mat-expansion-panel>

            <h4>{{'EVENTS_ADMINISTRATION_INFO_EVENT_REGISTER' | translate}}</h4>

            <mat-expansion-panel *ngFor="let resultSubgroup of resultGroup.getResultSubgroups()"
                                 [expanded]="resultSubgroup.getResultUsers().length !== 0" style="margin-bottom: 15px;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{resultSubgroup.name}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{'EVENTS_ADMINISTRATION_INFO_EVENT_CHART_FOR' | translate}} {{resultSubgroup.name}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <canvas baseChart
                        [data]="resultSubgroup.getChartData()"
                        [labels]="pieChartLabels"
                        [chartType]="pieChartType"
                        [options]="pieChartOptions"
                        [legend]="pieChartLegend">
                </canvas>
              </mat-expansion-panel>

              <mat-list>
                <mat-list-item *ngIf="resultSubgroup.getResultUsers().length === 0">
                  {{'EVENTS_ADMINISTRATION_INFO_EVENT_NO_USERS' | translate}}
                </mat-list-item>
                <mat-list-item *ngFor="let resultUser of resultSubgroup.getResultUsers()">
                    <span>{{resultUser.firstname}} {{resultUser.surname}}:
                      <b *ngIf="resultUser.decision != null">{{resultUser.decision}}</b>
                      <span
                        *ngIf="resultUser.decision == null">{{'EVENTS_ADMINISTRATION_INFO_EVENT_UNKNOWN_VOTING' | translate}}</span></span>
                </mat-list-item>
              </mat-list>
            </mat-expansion-panel>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <mat-progress-bar mode="indeterminate" *ngIf="sendingRequest"></mat-progress-bar>
</div>
<div mat-dialog-actions style="margin-top: 15px">
  <button mat-button [mat-dialog-close]>{{'CLOSE' | translate}}</button>
</div>
