<mat-expansion-panel style="margin-bottom: 15px;" *ngIf="!resultSubgroup?.event?.anonymous">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{resultSubgroup.name}}
    </mat-panel-title>
  </mat-expansion-panel-header>

  <!-- Chart for the subgroups -->
  <app-result-user-bar-chart [resultUsers]="resultSubgroup.getResultUsers()" [inAccordion]="true"
                             [decisions]="resultSubgroup.event.getDecisions()"></app-result-user-bar-chart>

  <mat-expansion-panel style="margin-bottom: 15px; margin-top: 15px;">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'EVENTS_ADMINISTRATION_INFO_EVENT_CHART_FOR' | translate}} {{resultSubgroup.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <canvas *ngIf="!pieChartIsEmpty"
            [chartType]="pieChartType"
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [legend]="pieChartLegend"
            [options]="pieChartOptions"
            baseChart>
    </canvas>
    <span
      *ngIf="pieChartIsEmpty">{{'EVENTS_ADMINISTRATION_INFO_EVENT_NOBODY_VOTED_IN_SUBGROUP' | translate}}</span>
  </mat-expansion-panel>

  <app-result-user-table [resultUsers]="resultSubgroup.getResultUsers()"
                         [decisions]="resultSubgroup.event.getDecisions()"
                         *ngIf="resultSubgroup != null && !this.myUserService.hasPermission(ROOT_PERMISSION)
                               && !this.myUserService.hasPermission(EVENTS_ADMINISTRATION_PERMISSION)">
  </app-result-user-table>

  <app-event-user-management *ngIf="resultSubgroup != null && (this.myUserService.hasPermission(ROOT_PERMISSION) ||
                                    this.myUserService.hasPermission(EVENTS_ADMINISTRATION_PERMISSION))"
                             [resultUsers]="resultSubgroup.getResultUsers()"
                             [event]="resultSubgroup.event"></app-event-user-management>
</mat-expansion-panel>

<mat-card *ngIf="resultSubgroup?.event?.anonymous">
  <mat-card-header>
    <mat-card-title style="font-size: 17px">{{resultSubgroup.name}}</mat-card-title>
    <mat-card-subtitle *ngIf="resultSubgroup.getResultUsers().length === 0">
      {{'EVENTS_ADMINISTRATION_INFO_EVENT_NOBODY_VOTED_IN_SUBGROUP' | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-result-user-bar-chart [resultUsers]="resultSubgroup.getResultUsers()"
                               *ngIf="resultSubgroup.getResultUsers().length > 0"
                               [decisions]="resultSubgroup.event.getDecisions()"></app-result-user-bar-chart>

    <mat-expansion-panel style="margin-bottom: 15px; margin-top: 15px;" *ngIf="!pieChartIsEmpty">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'EVENTS_ADMINISTRATION_INFO_EVENT_CHART_FOR' | translate}} {{resultSubgroup.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <canvas *ngIf="!pieChartIsEmpty"
              [chartType]="pieChartType"
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [legend]="pieChartLegend"
              [options]="pieChartOptions"
              baseChart>
      </canvas>
    </mat-expansion-panel>
  </mat-card-content>
</mat-card>
