<div class="d-container dark-theme">
  <div fxLayout="column" fxLayoutAlign="space-between center">
    <div fxFlex>
      <div fxLayout="row" fxLayoutGap="2%">
        <img src="./../../assets/logo.png" style="height: 110px" />
        <h1 style="color: white; padding-top: 21%">DatePoll</h1>
      </div>
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayoutGap="2%"
    fxLayoutAlign="center start"
    fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="center"
    style="margin-top: 15px; padding-left: 10px; padding-right: 10px"
  >
    <div fxFlex.gt-lg="30%" fxFlex="40%">
      <div fxLayout="column" fxLayoutGap="2%">
        <mat-card class="mat-elevation-z3">
          <form #f="ngForm" (ngSubmit)="onSignin(f)" fxLayout="column" style="padding-left: 10px; padding-right: 10px">
            <mat-form-field>
              <input
                id="username"
                matInput
                maxlength="190"
                minlength="3"
                name="username"
                ngModel
                placeholder="{{ 'SIGNIN_USERNAME' | tr }}"
                required
                type="text"
              />
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>

            <mat-form-field style="margin-bottom: 10px">
              <input
                id="password"
                matInput
                #passwordModel="ngModel"
                minlength="6"
                name="password"
                ngModel
                placeholder="{{ 'SIGNIN_PASSWORD' | tr }}"
                required
                type="password"
              />
              <mat-error *ngIf="passwordModel.invalid">
                {{ 'SIGNIN_PASSWORD_REQUIREMENTS' | tr }}
              </mat-error>
            </mat-form-field>

            <button [disabled]="!f.valid" color="accent" mat-raised-button>
              {{ 'SIGNIN' | tr }}
              <mat-icon aria-label="Send icon">send</mat-icon>
            </button>

            <div style="text-align: center; margin-top: 5px">
              <a routerLink="/auth/signin">{{ 'ABOUT_PAGE_TROUBLE_LOGGING_IN' | tr }}</a>
            </div>
          </form>
        </mat-card>

        <mat-card class="mat-elevation-z3">
          <button (click)="openMobileAppBottomSheet()" mat-stroked-button style="width: 100%">
            {{ 'SIGNIN_APP_INFO' | tr }}
          </button>
        </mat-card>

        <mat-card class="mat-elevation-z3" fxLayout="column" fxLayoutGap="3%">
          <button routerLink="/info/imprint" mat-stroked-button style="width: 100%">
            {{ 'IMPRINT' | tr }}
          </button>
          <button routerLink="/info/privacypolicy" mat-stroked-button style="width: 100%">
            {{ 'PRIVACY_POLICY' | tr }}
          </button>
        </mat-card>
      </div>
    </div>

    <div fxFlex="40%" fxFlex.xs="90%">
      <div fxLayout="column" fxLayoutGap="2%">
        <mat-card class="mat-elevation-z3">
          <h2>
            >
            <b
              ><a href="{{ serverInfo.community_url }}" target="_blank" rel="noopener">{{ serverInfo.community_name }}</a></b
            >
          </h2>
          <p
            *ngIf="getDescriptionPreview(serverInfo.community_description) == null || showMoreCommunityDescription"
            [innerHTML]="getSanitizedDescription(serverInfo.community_description)"
          ></p>
          <p
            *ngIf="getDescriptionPreview(serverInfo.community_description) != null && !showMoreCommunityDescription"
            [innerHTML]="getDescriptionPreview(serverInfo.community_description)"
          ></p>
          <button
            mat-stroked-button
            color="warn"
            (click)="showMoreCommunityDescription = true"
            *ngIf="!showMoreCommunityDescription && getDescriptionPreview(serverInfo.community_description) != null"
          >
            {{ 'SHOW_MORE' | tr }}
          </button>
          <button
            mat-stroked-button
            color="accent"
            (click)="showMoreCommunityDescription = false"
            *ngIf="showMoreCommunityDescription && getDescriptionPreview(serverInfo.community_description) != null"
          >
            {{ 'SHOW_LESS' | tr }}
          </button>

          <p style="margin-top: 25px">
            {{ 'ABOUT_FOLLOW_CALENDER' | tr }}
            <a href="{{ calendarUrl }}" target="_blank" rel="noopener">{{ 'ABOUT_FOLLOW_CALENDER_1' | tr }}</a
            >.
          </p>
        </mat-card>

        <mat-card class="mat-elevation-z3">
          <p>{{ 'ABOUT_MORE_INFORMATION' | tr }}</p>
          <h1>
            <a href="https://datepoll.org/projects/datepoll" target="_blank" rel="noopener">DatePoll</a> and
            <a href="https://datepoll.org" target="_blank" rel="noopener">DatePoll-Systems</a>.
          </h1>
        </mat-card>

        <mat-card class="mat-elevation-z3">
          <div class="level is-mobile" style="margin-bottom: 5px" (click)="count()">
            <div class="level-item">
              <div>
                <h3>{{ 'ABOUT_PAGE_STATS_USER' | tr }}</h3>
                <h1 style="color: #ffce5c">{{ instanceUsersString }}</h1>
              </div>
            </div>
            <div class="level-item">
              <div>
                <h3>{{ 'ABOUT_PAGE_STATS_EVENTS' | tr }}</h3>
                <h1 style="color: #27dd70">{{ instanceEventsString }}</h1>
              </div>
            </div>
            <div class="level-item">
              <div>
                <h3>{{ 'ABOUT_PAGE_STATS_MOVIES' | tr }}</h3>
                <h1 style="color: #16e7d9">{{ instanceMoviesString }}</h1>
              </div>
            </div>
            <div class="level-item">
              <div>
                <h3>{{ 'ABOUT_PAGE_STATS_BROADCASTS' | tr }}</h3>
                <h1 style="color: #726dff">{{ instanceBroadcasts }}</h1>
              </div>
            </div>
          </div>

          <h4 style="margin-top: 20px; margin-bottom: -10px">{{ 'ABOUT_PAGE_STATS_MORE' | tr }}</h4>

          <ul>
            <li>{{ 'ABOUT_PAGE_STATS_EMAIL_ADDRESSES' | tr }} {{ serverInfo.user_email_addresses_count }}</li>
            <li>{{ 'ABOUT_PAGE_STATS_PHONE_NUMBERS' | tr }} {{ serverInfo.user_phone_numbers_count }}</li>
          </ul>

          <ul>
            <li>{{ 'ABOUT_PAGE_STATS_EVENT_VOTES' | tr }} {{ serverInfo.event_votes_count }}</li>
            <li>{{ 'ABOUT_PAGE_STATS_EVENT_DECISIONS' | tr }} {{ serverInfo.event_decisions_count }}</li>
            <li>{{ 'ABOUT_PAGE_STATS_EVENT_DATES' | tr }} {{ serverInfo.event_dates_count }}</li>
          </ul>

          <ul>
            <li>{{ 'ABOUT_PAGE_STATS_MOVIES_TICKETS' | tr }} {{ serverInfo.movies_tickets_count }}</li>
            <li>{{ 'ABOUT_PAGE_STATS_MOVIES_WORKERS' | tr }} {{ serverInfo.movies_workers_count }}</li>
          </ul>

          <ul>
            <li>{{ 'ABOUT_PAGE_STATS_BROADCASTS_SENT' | tr }} {{ serverInfo.broadcasts_sent_count }}</li>
          </ul>

          <ul>
            <li>{{ 'ABOUT_PAGE_STATS_PERFORMANCE_BADGES' | tr }} {{ serverInfo.performance_badges_count }}</li>
          </ul>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
