<form #emailAddressForm="ngForm" (ngSubmit)="addEmailAddress(emailAddressForm)">
  <div class="row justify-content-around">
    <div class="col-12 col-sm-12 col-md-6 col-lg-7">
      <mat-form-field>
        <input #emailAddressModel="ngModel" email id="emailAddress" matInput
               maxlength="190" minlength="1"
               name="emailAddress" ngModel placeholder="{{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_EMAIL_ADDRESS' | translate}}" required
               type="email">
        <mat-error *ngIf="emailAddressModel.errors?.email">
          {{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_EMAIL_ADDRESS_INCORRECT' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-3">
      <button (submit)="emailAddressForm.ngSubmit.emit()" [disabled]="!emailAddressForm.valid" class="success-button" id="addEmail-button"
              mat-raised-button style="width: 100%">
        {{'ADD' | translate}}
        <mat-icon aria-label="Submit button">library_add</mat-icon>
      </button>
    </div>
  </div>
</form>

<div class="row">
  <table [dataSource]="dataSource" class="col-12" mat-table>
    <ng-container matColumnDef="emailAddress">
      <th *matHeaderCellDef
          mat-header-cell>{{'MANAGEMENT_USERS_CREATE_USER_MODAL_LIST_EMAIL_ADDRESSES' | translate}}</th>
      <td *matCellDef="let emailAddress" mat-cell> {{emailAddress}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th *matHeaderCellDef mat-header-cell> {{'ACTION' | translate}} </th>
      <td *matCellDef="let emailAddress" mat-cell>
        <button (click)="removeEmailAddress(emailAddress)" [matTooltipPosition]="'right'"
                mat-icon-button
                matTooltip="{{'MANAGEMENT_USERS_CREATE_USER_MODAL_LIST_EMAIL_ADDRESSES_REMOVE_TOOLTIP' | translate}}">
          <mat-icon>delete_foreve</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</div>

<div class="row">
  <p *ngIf="dataSource.data.length == 0" class="col-12">
    {{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_EMAIL_ADDRESS_NO_EMAIL_ADDRESSES' | translate}}
  </p>
</div>

