<div class="fluid-container">
  <mat-card fxLayout="column" fxLayoutGap.xs="3%" fxLayoutGap="1%">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h1 class="not-selectable">
        {{ 'BROADCASTS_ADMINISTRATION_CREATE_TITLE' | tr }}
        <span *ngIf="draft">{{ 'BROADCASTS_ADMINISTRATION_CREATE_TITLE_DRAFT' | tr }} {{ draft.subject }}</span>
      </h1>
    </div>

    <div fxLayout="row break" fxLayoutGap="2%" fxLayoutAlign="space-between">
      <div fxFlex="60%" fxFlex.lt-md="100%" fxLayout="row" fxLayoutGap="2%">
        <button mat-stroked-button routerLink="/home/broadcasts/administration" (click)="leave()">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <button mat-stroked-button (click)="loadDraft()">
          <mat-icon>cloud_download</mat-icon>
          {{ 'BROADCASTS_ADMINISTRATION_CREATE_LOAD_DRAFT' | tr }}
        </button>

        <button mat-stroked-button (click)="saveDraft()">
          <mat-icon>save</mat-icon>
          {{ 'BROADCASTS_ADMINISTRATION_CREATE_SAVE_DRAFT' | tr }}
        </button>
      </div>
      <button color="primary" mat-flat-button (click)="send()" [disabled]="currentlyUploading" [fxHide.lt-md]="true">
        <mat-icon>send</mat-icon>
        {{ 'SEND' | tr }}
      </button>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between">
      <app-group-and-subgroup-type-input-select
        fxFlex="90%"
        [allGroupsAndSubgroups]="groupsAndSubgroups"
        [disabled]="allMembers"
        (groupsAndSubgroupsChange)="groupsAndSubgroupChanged($event)"
      >
      </app-group-and-subgroup-type-input-select>
      <app-all-groups-switch (toggleChange)="allMembersChanged($event)"></app-all-groups-switch>
    </div>

    <div fxLayout="column">
      <button style="width: 100%" mat-flat-button color="primary" (click)="send()" [disabled]="currentlyUploading" [fxHide.gt-sm]="true">
        <mat-icon>send</mat-icon>
        {{ 'SEND' | tr }}
      </button>
    </div>

    <div fxLayout="column">
      <mat-divider></mat-divider>
    </div>

    <div fxLayout="column" fxLayoutGap="1%" fxLayoutAlign="center">
      <mat-form-field>
        <mat-label>{{ 'BROADCASTS_ADMINISTRATION_SUBJECT' | tr }}</mat-label>
        <input matInput type="text" min="1" max="119" minlength="1" maxlength="119" required [(ngModel)]="subject" />
      </mat-form-field>

      <div fxFlex="100%">
        <app-broadcast-attachment
          (attachmentsChange)="attachmentsChanged($event)"
          (currentlyUploadingChange)="currentlyUploadingChanged($event)"
        ></app-broadcast-attachment>
      </div>
    </div>

    <mat-card class="mat-info-card">
      <b>{{ 'BROADCASTS_ADMINISTRATION_CREATE_INFO_ATTACHMENTS_1' | tr }}</b>
      {{ 'BROADCASTS_ADMINISTRATION_CREATE_INFO_ATTACHMENTS_2' | tr }}
    </mat-card>

    <app-editor
      (bodyChanged)="bodyChanged($event)"
      (bodyHTMLChanged)="bodyHTMLChanged($event)"
      [body]="draft?.body"
      [bodyHTML]="draft?.bodyHTML"
    ></app-editor>
  </mat-card>
</div>
