<mat-card class="mat-elevation-z3">
  <mat-card-content fxLayout="column" fxLayoutGap.xs="3%" fxLayoutGap="1%">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h1 class="not-selectable">
        {{ 'BROADCASTS_ADMINISTRATION_CREATE_TITLE' | translate }}
        <span *ngIf="draft">{{ 'BROADCASTS_ADMINISTRATION_CREATE_TITLE_DRAFT' | translate }} {{ draft.subject }}</span>
      </h1>
      <button color="accent" mat-fab (click)="send()" [disabled]="currentlyUploading">
        <mat-icon>send</mat-icon>
      </button>
    </div>

    <div fxLayout="row break" fxLayoutGap="2%" fxLayoutAlign="space-between center">
      <button mat-stroked-button routerLink="/home/broadcasts/administration" fxFlex.xs="25%" (click)="leave()">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <div fxFlex.gt-md="20%" fxFlex.gt-xs="50%" fxFlex.xs="70%">
        <button mat-stroked-button (click)="loadDraft()">
          <mat-icon>cloud_download</mat-icon>
          {{ 'BROADCASTS_ADMINISTRATION_CREATE_LOAD_DRAFT' | translate }}
        </button>

        <button mat-stroked-button (click)="saveDraft()">
          <mat-icon>save</mat-icon>
          {{ 'BROADCASTS_ADMINISTRATION_CREATE_SAVE_DRAFT' | translate }}
        </button>
      </div>

      <div fxFlex.gt-md="70%" fxFlex.lt-lg="100%" fxLayout="row" fxLayoutAlign="end">
        <app-group-and-subgroup-type-input-select
          [allGroupsAndSubgroups]="groupsAndSubgroups"
          fxFlex="80%"
          [disabled]="allMembers"
          (groupsAndSubgroupsChange)="groupsAndSubgroupChanged($event)"
        >
        </app-group-and-subgroup-type-input-select>
        <app-all-groups-switch (toggleChange)="allMembersChanged($event)"></app-all-groups-switch>
      </div>
    </div>

    <div fxLayout="row break" fxLayoutGap="2%" fxLayoutAlign="space-between center">
      <mat-form-field fxFlex.gt-md="48%" fxFlex.gt-xs="49%" fxFlex.xs="100%">
        <mat-label>{{ 'BROADCASTS_ADMINISTRATION_SUBJECT' | translate }}</mat-label>
        <input matInput type="text" min="1" max="119" minlength="1" maxlength="119" required [(ngModel)]="subject" />
      </mat-form-field>

      <div fxFlex.gt-md="48%" fxFlex.gt-xs="49%" fxFlex.xs="100%">
        <app-broadcast-attachment
          (attachmentsChange)="attachmentsChanged($event)"
          (currentlyUploadingChange)="currentlyUploadingChanged($event)"
        ></app-broadcast-attachment>
      </div>
    </div>

    <app-editor
      (bodyChanged)="bodyChanged($event)"
      (bodyHTMLChanged)="bodyHTMLChanged($event)"
      [body]="draft?.body"
      [bodyHTML]="draft?.bodyHTML"
    ></app-editor>
  </mat-card-content>
</mat-card>
