<mat-form-field *ngIf="broadcasts.length != 0">
  <mat-label>{{ 'BROADCASTS_ADMINISTRATION_SEARCH_LIST' | translate }}</mat-label>
  <input matInput [(ngModel)]="searchFilter" (input)="searchFilterUpdate($event)" />
</mat-form-field>

<mat-list>
  <ng-container *ngFor="let broadcast of this.broadcastsCopy">
    <mat-list-item matRipple matRippleRadius="100" class="not-selectable" (click)="routeTo(broadcast)">
      <div mat-line>
        <b>{{ broadcast.subject }}</b>
      </div>
      <div mat-line>
        {{ broadcast.sent | date: 'EE, dd.MM.yyyy HH:mm' }}
        <small> (~{{ broadcast.readTime }})</small>
      </div>
      <div mat-line>{{ 'STARTPAGE_BROADCASTS_BY' | translate }} {{ broadcast.writerName }}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>
</mat-list>

<div fxLayout="row" fxLayoutAlign="center" *ngIf="empty">
  <div fxFlex style="text-align: center">
    {{ 'BROADCASTS_EMPTY' | translate }}
  </div>
</div>

<mat-spinner *ngIf="broadcasts?.length === 0"></mat-spinner>
