<h2 mat-dialog-title>{{'SETTINGS_PERSONAL_DATA_PERSONAL_NUMBER_CHANGE' | translate}}</h2>
<mat-dialog-content>
  <form (ngSubmit)="addPhoneNumber(f)" #f="ngForm">
    <div class="row" style="margin-top: 25px;">
      <mat-form-field class="col-12 col-sm-12 col-md-6 col-lg-2">
        <input matInput id="label" name="label" type="text"
               ngModel #labelModel="ngModel"
               required maxlength="190" minlength="1"
               placeholder="{{'SETTINGS_PERSONAL_DATA_MODAL_PHONE_NUMBER_LABEL' | translate}}">
        <mat-error *ngIf="labelModel.invalid">
          {{'SETTINGS_PERSONAL_DATA_MODAL_PHONE_NUMBER_LABEL_INVALID' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-12 col-sm-12 col-md-6 col-lg-6">
        <input matInput id="phoneNumber" name="phoneNumber" type="text"
               ngModel #phoneNumber="ngModel"
               required maxlength="190" minlength="1" phone="AT"
               placeholder="{{'SETTINGS_PERSONAL_DATA_MODAL_PHONE_NUMBER_PHONE_NUMBER' | translate}}">
        <mat-error *ngIf="phoneNumber.invalid">
          {{'SETTINGS_PERSONAL_DATA_MODAL_PHONE_NUMBER_PHONE_NUMBER_NOT_VALID' | translate}}
        </mat-error>
      </mat-form-field>

      <button mat-raised-button class="col-12 col-sm-12 col-md-12 col-lg-4"
              style="background-color: #4CAF50; color: #ffffff"
              type="submit" [disabled]="!f.valid">
        {{'SETTINGS_PERSONAL_DATA_MODAL_PHONE_NUMBER_ADD' | translate}}
        <mat-icon aria-label="Submit button">send</mat-icon>
      </button>
    </div>
  </form>

  <div class="row" style="margin-top: 25px;">
    <mat-form-field class="col-12">
      <input matInput (keyup)="applyFilter($event.target.value)"
             placeholder="{{'SETTINGS_PERSONAL_DATA_MODAL_PHONE_NUMBER_SEARCH' | translate}}"/>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="col-12">

      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef> {{'SETTINGS_PERSONAL_DATA_MODAL_PHONE_NUMBER_LABEL' | translate}} </th>
        <td mat-cell *matCellDef="let phoneNumber"> {{phoneNumber.label}} </td>
      </ng-container>

      <ng-container matColumnDef="phonenumber">
        <th mat-header-cell *matHeaderCellDef> {{'SETTINGS_PERSONAL_DATA_MODAL_PHONE_NUMBER_PHONE_NUMBER' | translate}} </th>
        <td mat-cell *matCellDef="let phoneNumber"> {{phoneNumber.phoneNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> {{'ACTION' | translate}} </th>
        <td mat-cell *matCellDef="let phoneNumber">
          <button mat-icon-button [matTooltipPosition]="'right'"
                  matTooltip="{{'SETTINGS_PERSONAL_DATA_MODAL_PHONE_NUMBER_DELETE_TOOLTIP' | translate}}"
                  (click)="removePhoneNumber(phoneNumber.id)">
            <mat-icon>delete_foreve</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{'CLOSE' | translate}}</button>
</mat-dialog-actions>
