<div fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start">
  <mat-form-field fxFlex="65%" fxFlex.lt-md="50%" fxFlex.xs="100%">
    <input (keyup)="applyFilter($event.target.value)" matInput placeholder="{{ 'MANAGEMENT_USERS_SEARCH' | translate }}" />
  </mat-form-field>

  <div fxFlex="15%" fxFlex.lt-md="30%" fxFlex.xs="65%">
    <button mat-flat-button color="primary" style="width: 100%" (click)="onVote()" [class.spinner]="savingVoting" [disabled]="savingVoting">
      {{ 'EVENTS_ADMINISTRATION_USER_MANAGEMENT_FOR_EVENT_VOTE' | translate }}
    </button>
  </div>

  <div fxFlex="10%" fxFlex.lt-md="15%" fxFlex.xs="30%">
    <button
      mat-stroked-button
      aria-label="Remove votings for selected users"
      (click)="onClear()"
      style="width: 100%"
      [class.spinner]="savingClearVoting"
      [disabled]="savingClearVoting"
      matTooltip="{{ 'EVENTS_ADMINISTRATION_USER_MANAGEMENT_FOR_EVENT_REMOVE_VOTING' | translate }}"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

<div fxLayout="row">
  <table [dataSource]="dataSource" class="table-responsive" mat-table matSort fxFlex>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Firstname Column -->
    <ng-container matColumnDef="firstname">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'EVENTS_ADMINISTRATION_INFO_EVENT_FIRSTNAME' | translate }}</th>
      <td *matCellDef="let resultUser" mat-cell>{{ resultUser.firstname }}</td>
    </ng-container>

    <!-- Surname Column -->
    <ng-container matColumnDef="surname">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'EVENTS_ADMINISTRATION_INFO_EVENT_SURNAME' | translate }}</th>
      <td *matCellDef="let resultUser" mat-cell>{{ resultUser.surname }}</td>
    </ng-container>

    <!-- Decision Column -->
    <ng-container matColumnDef="decision">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'EVENTS_ADMINISTRATION_INFO_EVENT_DECISION' | translate }}</th>
      <td *matCellDef="let resultUser" mat-cell>
        <b *ngIf="resultUser.decision != null">{{ resultUser.decision }}</b>
        <i *ngIf="resultUser.decision != null && resultUser?.additionalInformation?.length > 0"
          >&nbsp;({{ resultUser.additionalInformation }})</i
        >
        <span *ngIf="resultUser.decision == null">{{ 'EVENTS_ADMINISTRATION_INFO_EVENT_UNKNOWN_VOTING' | translate }}</span>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
    <tr (click)="onVoteForSingle(row)" *matRowDef="let row; columns: displayedColumns" mat-row></tr>
  </table>
</div>
<mat-paginator [pageSizeOptions]="[50, 100, 150, 200]" showFirstLastButtons></mat-paginator>
