<mat-form-field>
  <mat-label>{{ label | tr }}</mat-label>
  <mat-chip-list #chipList [disabled]="disabled">
    <mat-chip *ngFor="let string of strings" [disabled]="disabled" [removable]="removable" (removed)="remove(string)">
      <span *ngIf="inHighComma">"</span>{{ string }}<span *ngIf="inHighComma">"</span>
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="{{ placeHolder | tr }}"
      #stringInput
      (focusout)="addOut()"
      [formControl]="stringCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-list>
  <mat-autocomplete (optionSelected)="selected($event)" #auto="matAutocomplete">
    <ng-container *ngIf="allStringsToAutoComplete?.length > 0">
      <mat-option *ngFor="let string of filteredStrings | async" [value]="string">
        {{ string }}
      </mat-option>
    </ng-container>
  </mat-autocomplete>
</mat-form-field>
