<mat-form-field class="example-chip-list">
  <mat-label>{{ label | translate }}</mat-label>
  <mat-chip-list #chipList [disabled]="disabled">
    <mat-chip *ngFor="let string of strings" [disabled]="disabled" [removable]="removable" (removed)="remove(string)">
      {{ string }}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="{{ placeHolder | translate }}"
      #fruitInput
      [formControl]="stringCtrl"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-list>
  <mat-autocomplete (optionSelected)="selected($event)" *ngIf="allStringsToAutoComplete?.length > 0">
    <mat-option *ngFor="let string of filteredStrings | async" [value]="string">
      {{ string }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
