<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_BADGES_TITLE' | translate }}
    </mat-panel-title>
  </mat-expansion-panel-header>

  <h3>{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_BADGES_POSSIBLE' | translate }}</h3>
  <ng-container *ngIf="badges != null">
    <mat-card *ngFor="let badge of badges" class="mat-elevation-z2">
      <mat-card-content fxLayout="row" fxLayoutAlign="space-between center">
        <span matLine
          >{{ badge.description }} | {{ 'MANAGEMENT_PERFORMANCE_BADGES_BADGE_LIST_AFTER' | translate }} {{ badge.afterYears }}
          {{ 'MANAGEMENT_PERFORMANCE_BADGES_BADGE_LIST_YEARS' | translate }}
          <span *ngIf="badge.remainingYears > 0"
            >| {{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_BADGES_REMAINING_YEARS' | translate }}: {{ badge.remainingYears }}</span
          ></span
        >
        <div>
          <button mat-flat-button color="accent" type="button" [disabled]="badge.disabled" (click)="addBadgeToUser(badge)">
            {{ 'ADD' | translate }}
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <div fxLayout="row" fxLayoutAlign="end center">
    <button mat-flat-button type="button" color="primary" (click)="extraBadgeEnabled = !extraBadgeEnabled">
      Außerordentliches Abzeichen
    </button>
  </div>
  <form
    #addExtraBadgeForm="ngForm"
    (ngSubmit)="addExtraBadge(addExtraBadgeForm)"
    fxLayout.gt-xs="row"
    fxLayout="column"
    *ngIf="extraBadgeEnabled"
    style="margin-top: 15px;"
  >
    <mat-form-field>
      <input
        #badgeDescriptionModel="ngModel"
        id="badgeDescription"
        matInput
        maxlength="190"
        minlength="1"
        name="badgeDescription"
        ngModel
        placeholder="{{ 'MANAGEMENT_PERFORMANCE_BADGES_BADGE_ADD_DESCRIPTION' | translate }}"
        required
        type="text"
      />
      <mat-error *ngIf="badgeDescriptionModel.invalid">
        {{ 'MANAGEMENT_PERFORMANCE_BADGES_BADGE_ADD_DESCRIPTION_INCORRECT' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        id="badgeReason"
        matInput
        maxlength="190"
        name="badgeReason"
        ngModel
        placeholder="{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_BADGES_EXTRA_REASON' | translate }}"
        type="text"
      />
    </mat-form-field>

    <mat-form-field fxFlex.gt-md="30%">
      <input
        [(ngModel)]="extraBadgeDate"
        [matDatepicker]="picker_birthday"
        id="datepicker-badgeGetDate"
        matInput
        required
        name="datepicker-badgeGetDate"
        placeholder="{{ 'DATE' | translate }}"
      />
      <mat-datepicker-toggle [for]="picker_birthday" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker_birthday></mat-datepicker>
    </mat-form-field>

    <div>
      <button [disabled]="!addExtraBadgeForm.valid" mat-flat-button style="width: 100%;" type="submit" color="accent">
        {{ 'ADD' | translate }}
        <mat-icon aria-label="Submit button">library_add</mat-icon>
      </button>
    </div>
  </form>
  <h3>{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_BADGES_GOT' | translate }}</h3>
  <mat-card *ngFor="let badge of userBadges" class="mat-elevation-z2">
    <mat-card-content fxLayout="row" fxLayoutAlign="space-between center">
      <span matLine
        >{{ badge.description }}
        <span>| {{ badge.getDate | date: 'dd.MM.yyyy' }} </span>
        <span *ngIf="badge.reason != null">| {{ badge.reason }}</span>
      </span>
      <div>
        <button
          (click)="removeUserBadge(badge)"
          mat-icon-button
          matTooltip="{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_REMOVE_BADGE' | translate }}"
          matTooltipPosition="right"
        >
          <mat-icon>delete_forever</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</mat-expansion-panel>
