<h2 mat-dialog-title>{{'GIVE_US_FEEDBACK' | translate}}</h2>
<mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Feedback</mat-label>
        <textarea matInput style="height: 45vh;" placeholder="{{'FEEDBACK_PLACEHOLDER' | translate}}" [(ngModel)]="feedback"></textarea>
      </mat-form-field>
    </div>

    <div class="row">
      <div class="col-12">
        <mat-checkbox
          color="primary"
          matTooltip="{{'SEND_BROWSER_DATA_TOOLTIP' | translate}}"
          [(ngModel)]="sendBrowserData">
          {{'SEND_BROWSER_DATA' | translate}}
        </mat-checkbox>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{'CLOSE' | translate}}</button>
  <button mat-button [mat-dialog-close]="true" (click)="sendFeedback()" color="primary">
    {{'SUBMIT' | translate}}
  </button>
</mat-dialog-actions>
