<h2 mat-dialog-title>{{ 'SETTINGS_SECURITY_CHANGE_PASSWORD' | translate }}</h2>
<mat-dialog-content>
  <mat-vertical-stepper #stepper [linear]="true">
    <mat-step [editable]="false">
      <ng-template matStepLabel>{{ 'SETTINGS_SECURITY_MODAL_CHANGE_PASSWORD_TITLE_START' | translate }}</ng-template>
      <mat-card *ngIf="showOldPasswordIncorrectCard" class="error-mat-card" matRipple>
        <mat-card-content class="last-child">
          {{ 'SETTINGS_SECURITY_MODAL_CHANGE_PASSWORD_OLD_PASSWORD_INCORRECT' | translate }}
        </mat-card-content>
      </mat-card>

      <form #checkOldPasswordForm="ngForm" (ngSubmit)="checkOldPassword()" fxLayout="column">
        <mat-form-field fxFlex style="margin-bottom: 15px;">
          <input
            [(ngModel)]="oldPassword"
            id="oldPassword"
            matInput
            minlength="6"
            name="oldPassword"
            ngModel
            #oldPasswordModel="ngModel"
            placeholder="{{ 'SETTINGS_SECURITY_MODAL_CHANGE_PASSWORD_OLD_PASSWORD' | translate }}"
            required
            type="password"
          />
          <mat-error *ngIf="oldPasswordModel.invalid">
            {{ 'SIGNIN_PASSWORD_REQUIREMENTS' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-progress-bar *ngIf="showCheckingOldPasswordSpinner" mode="indeterminate"></mat-progress-bar>

        <button
          *ngIf="!showCheckingOldPasswordSpinner"
          [disabled]="!checkOldPasswordForm.form.valid"
          mat-flat-button
          color="accent"
          style="width: 100%"
          type="submit"
        >
          {{ 'NEXT' | translate }}
        </button>
      </form>
    </mat-step>

    <mat-step [editable]="false">
      <ng-template matStepLabel>{{ 'SETTINGS_SECURITY_MODAL_CHANGE_PASSWORD_TITLE_NEW_PASSWORD' | translate }}</ng-template>

      <form [formGroup]="passwordChangeForm" (ngSubmit)="changePassword(passwordChangeForm)">
        <div
          formGroupName="passwords"
          fxLayout="row wrap"
          fxLayout.xs="column"
          fxLayoutGap="2%"
          fxLayoutAlign="start"
          style="margin-bottom: 10px;"
        >
          <mat-form-field fxFlex="48%">
            <input
              formControlName="password"
              matInput
              minlength="6"
              name="password"
              placeholder="{{ 'SETTINGS_SECURITY_MODAL_CHANGE_PASSWORD_NEW_PASSWORD' | translate }}"
              required
              type="password"
            />
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <input
              formControlName="repeat"
              matInput
              name="repeat"
              placeholder="{{ 'SETTINGS_SECURITY_MODAL_CHANGE_PASSWORD_NEW_PASSWORD_REPEAT' | translate }}"
              type="password"
            />
          </mat-form-field>
          <mat-error *ngIf="passwordChangeForm?.controls?.passwords?.errors?.wrongLength">
            {{ 'SIGNIN_PASSWORD_REQUIREMENTS' | translate }}
          </mat-error>
          <mat-error *ngIf="passwordChangeForm?.controls?.passwords?.errors?.notSame">
            {{ 'SIGNIN_PASSWORD_ARE_NOT_EQUAL' | translate }}
          </mat-error>
        </div>

        <div fxLayout="column">
          <div fxFlex="96%">
            <button
              *ngIf="!showChangingPasswordSpinner"
              [disabled]="!passwordChangeForm.valid"
              mat-flat-button
              color="accent"
              style="width: 100%"
              type="submit"
            >
              {{ 'NEXT' | translate }}
            </button>
          </div>
        </div>

        <mat-progress-bar *ngIf="showChangingPasswordSpinner" mode="indeterminate"></mat-progress-bar>
      </form>
    </mat-step>

    <mat-step [editable]="false">
      <ng-template matStepLabel>{{ 'DONE' | translate }}</ng-template>
      <mat-card style="background-color: #43a047;" matRipple class="not-selectable">
        <mat-card-content class="last-child">
          {{ 'SETTINGS_SECURITY_MODAL_CHANGE_PASSWORD_FINISHED' | translate }}
        </mat-card-content>
      </mat-card>
    </mat-step>
  </mat-vertical-stepper>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
  <button mat-button mat-dialog-close>{{ 'CLOSE' | translate }}</button>
</mat-dialog-actions>
