<h3>{{ 'SIGNIN_GET_THE_APP' | tr }}</h3>
<div fxLayout="row" fxLayoutAlign="stretch">
  <a
    fxFlex="50%"
    href="https://play.google.com/store/apps/details?id=com.datepollsystems.datepoll"
    target="_blank"
    rel="noopener"
    style="text-align: start"
  >
    <img src="./../../../../assets/signGetOnGPlay.png" alt="Get the DatePoll-App on Google Play Store" style="width: 176px" />
  </a>
  <!--  <a fxFlex="50%" href="https://f-droid.org" target="_blank" rel="noopener" style="text-align: end" disabled>-->
  <!--    <img src="./../../../../assets/signGetOnFDroid.png" alt="Get the DatePoll-App on F-Droid.org" style="width: 160px; margin-top: 13px;" />-->
  <!--  </a>-->
</div>

<h3 style="margin-top: 15px">{{ 'SIGNIN_SCAN_ME' | tr }}</h3>
<div fxLayout="row" fxLayoutAlign="center">
  <qrcode
    *ngIf="appUrl != null"
    [qrdata]="appUrl"
    [margin]="1"
    [width]="256"
    [errorCorrectionLevel]="'M'"
    [elementType]="'img'"
    [allowEmptyString]="true"
    style="margin: 0 auto"
  ></qrcode>
  <p *ngIf="appUrl == null">{{ 'REQUEST_ERROR' | tr }}</p>
</div>

<button mat-flat-button style="width: 100%; margin-top: 10px" color="accent" (click)="close()">{{ 'CLOSE' | tr }}</button>
