<h1 mat-dialog-title>{{'EVENTS_ADMINISTRATION_CREATE_EVENT' | translate}}</h1>
<div mat-dialog-content>
  <form #form="ngForm" (ngSubmit)="create(form)">
    <div class="row">
      <div class="col-12">
        <app-do-not-forget-to-save></app-do-not-forget-to-save>
      </div>
    </div>

    <!-- Name -->
    <div class="row">
      <mat-form-field class="col-12">
        <input #nameModel="ngModel" id="name" matInput maxlength="190"
               minlength="1" name="name"
               ngModel placeholder="{{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_NAME' | translate}}" required
               type="text">
        <mat-error *ngIf="nameModel.invalid">
          {{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_NAME_INCORRECT' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Start date -->
    <div class="row" style="margin-top: 15px">
      <h3 class="col-12">{{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_START_DATE' | translate}}</h3>
    </div>
    <div class="row">
      <mat-form-field class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 datepicker-field">
        <input [(ngModel)]="startDate" [matDatepicker]="picker_startDate" id="datepicker-startDate"
               matInput name="datepicker-startDate"
               placeholder="{{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE' | translate}}"
               required>
        <mat-datepicker-toggle [for]="picker_startDate" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker_startDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 datepicker-field-mobile">
        <input [(ngModel)]="startDate" [matDatepicker]="picker_mobile_startDate" id="datepicker-startDate-mobile"
               matInput name="datepicker-startDate-mobile"
               placeholder="{{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE' | translate}}"
               required>
        <mat-datepicker-toggle [for]="picker_mobile_startDate" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker_mobile_startDate touchUi></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
        <input #startDateHoursModel="ngModel" id="hours-startDate" matInput max="24"
               min="0" name="startDateHours"
               ngModel placeholder="{{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_HOURS' | translate}}" required
               type="number">
        <mat-error *ngIf="startDateHoursModel.invalid">
          {{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_HOURS_INCORRECT' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
        <input #startDateMinutesModel="ngModel" id="minutes-startDate" matInput max="60"
               min="0" name="startDateMinutes"
               ngModel placeholder="{{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_MINUTES' | translate}}" required
               type="number">
        <mat-error *ngIf="startDateMinutesModel.invalid">
          {{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_MINUTES_INCORRECT' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- End date -->
    <div class="row">
      <h3 class="col-12">{{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_END_DATE' | translate}}</h3>
    </div>
    <div class="row">
      <mat-form-field class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 datepicker-field">
        <input [(ngModel)]="endDate" [matDatepicker]="picker_endDate" id="datepicker-endDate"
               matInput name="datepicker-endDate"
               placeholder="{{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE' | translate}}"
               required>
        <mat-datepicker-toggle [for]="picker_endDate" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker_endDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 datepicker-field-mobile">
        <input [(ngModel)]="endDate" [matDatepicker]="picker_mobile_endDate" id="datepicker-endDate-mobile"
               matInput name="datepicker-endDate-mobile"
               placeholder="{{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE' | translate}}"
               required>
        <mat-datepicker-toggle [for]="picker_mobile_endDate" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker_mobile_endDate touchUi></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
        <input #endDateHoursModel="ngModel" id="hours-endDate" matInput max="24"
               min="0" name="endDateHours"
               ngModel placeholder="{{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_HOURS' | translate}}" required
               type="number">
        <mat-error *ngIf="endDateHoursModel.invalid">
          {{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_HOURS_INCORRECT' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
        <input #endDateMinutesModel="ngModel" id="minutes-endDate" matInput max="60"
               min="0" name="endDateMinutes"
               ngModel placeholder="{{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_MINUTES' | translate}}" required
               type="number">
        <mat-error *ngIf="endDateMinutesModel.invalid">
          {{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_MINUTES' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Location -->
    <div class="row">
      <mat-form-field class="col-12">
        <input #locationModel="ngModel" id="location" matInput maxlength="190" name="location" type="text"
               ngModel placeholder="{{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_LOCATION' | translate}}">
        <mat-error *ngIf="locationModel.invalid">
          {{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_LOCATION_INCORRECT' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Decisions -->
    <app-event-decisions-list (decisionsChanged)="onDecisionsChange($event)"
                              [decisions]="decisions"></app-event-decisions-list>

    <!-- Group management -->
    <app-group-and-subgroup-select (freeChanged)="onFreeChange($event)" (joinedChanged)="onJoinedChange($event)"
                                   [free]="free"
                                   [joined]="joined" [parentGroupLock]="false">
    </app-group-and-subgroup-select>
    <small>{{'EVENTS_ADMINISTRATION_CREATE_EVENT_GROUPS_DESCRIPTION' | translate}}</small>

    <!-- Description -->
    <div class="row" style="margin-bottom: 15px;">
      <div class="col-12">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DESCRIPTION' | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field appearance="outline" class="col-12">
            <textarea matInput name="description" ngModel style="min-height: 15vh;"></textarea>
          </mat-form-field>
        </mat-expansion-panel>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions style="margin-top: 15px">
  <button [mat-dialog-close] mat-button>{{'CLOSE' | translate}}</button>
  <button (click)="form.ngSubmit.emit()" [disabled]="!form.form.valid" class="success-button"
          mat-button>{{'CREATE' | translate}}</button>
</div>

<ng-template #successfullyCreatedEvent>
  <h2>{{'EVENTS_ADMINISTRATION_CREATE_EVENT_SUCCESSFULLY_CREATED' | translate}}</h2>
</ng-template>
