<mat-card class="mat-elevation-z3" style="color: #000; background-color: white" [fxHide.lt-sm]="true">
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div>
        {{ viewDate | date: 'EE, dd.MM.yyyy' }}
      </div>
      <div style="text-align: end">
        <button [matMenuTriggerFor]="menu" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <p class="mat-menu-info">
            <small
              ><b>{{ 'INFORMATION' | tr }}</b> {{ 'CALENDAR_SETTINGS_INFO' | tr }}
            </small>
          </p>
          <button (click)="this.refreshEntries(); $event.stopPropagation()" mat-menu-item>
            <mat-icon>refresh</mat-icon>
            <span>{{ 'EVENTS_ADMINISTRATION_MENU_REFRESH' | tr }}</span>
          </button>
          <div mat-menu-item *ngIf="serverInfo?.cinema_enabled" (click)="$event.stopPropagation()">
            <mat-slide-toggle (change)="onShowMoviesChange($event)" [(ngModel)]="showMovies" color="primary">
              {{ 'CALENDAR_SETTINGS_SHOW_MOVIES' | tr }}
            </mat-slide-toggle>
          </div>
          <div mat-menu-item *ngIf="serverInfo?.events_enabled" (click)="$event.stopPropagation()">
            <mat-slide-toggle (change)="onShowEventsChange($event)" [(ngModel)]="showEvents" color="primary">
              {{ 'CALENDAR_SETTINGS_SHOW_EVENTS' | tr }}
            </mat-slide-toggle>
          </div>
          <div mat-menu-item (click)="$event.stopPropagation()">
            <mat-slide-toggle (change)="onShowBirthdaysChange($event)" [(ngModel)]="showBirthdays" color="primary">
              {{ 'CALENDAR_SETTINGS_SHOW_BIRTHDAYS' | tr }}
            </mat-slide-toggle>
          </div>
        </mat-menu>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between">
      <div style="text-align: center">
        <button (viewDateChange)="closeOpenMonthViewDay()" [(viewDate)]="viewDate" [view]="view" mat-button mwlCalendarPreviousView>
          {{ 'CALENDAR_PREVIOUS' | tr }}
        </button>

        <button [(viewDate)]="viewDate" color="primary" mat-flat-button mwlCalendarToday>{{ 'CALENDAR_TODAY' | tr }}</button>

        <button (viewDateChange)="closeOpenMonthViewDay()" [(viewDate)]="viewDate" [view]="view" mat-button mwlCalendarNextView>
          {{ 'CALENDAR_NEXT' | tr }}
        </button>
      </div>

      <div style="text-align: center">
        <button (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month" mat-stroked-button>
          {{ 'CALENDAR_MONTH' | tr }}
        </button>
        <button (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week" mat-stroked-button>
          {{ 'CALENDAR_WEEK' | tr }}
        </button>
        <button (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day" mat-stroked-button>
          {{ 'CALENDAR_DAY' | tr }}
        </button>
      </div>
    </div>

    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent($event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        *ngSwitchCase="CalendarView.Month"
        [activeDayIsOpen]="activeDayIsOpen"
        [events]="events"
        [locale]="locale"
        [refresh]="refresh"
        weekStartsOn="1"
        [viewDate]="viewDate"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        (eventClicked)="handleEvent($event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        *ngSwitchCase="CalendarView.Week"
        [events]="events"
        [locale]="locale"
        [refresh]="refresh"
        weekStartsOn="1"
        [viewDate]="viewDate"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        (eventClicked)="handleEvent($event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        *ngSwitchCase="CalendarView.Day"
        [events]="events"
        [locale]="locale"
        [refresh]="refresh"
        weekStartsOn="1"
        dayStartHour="5"
        dayStartMinute="30"
        dayEndHour="22"
        dayEndMinute="30"
        [viewDate]="viewDate"
      >
      </mwl-calendar-day-view>
    </div>
  </mat-card-content>
</mat-card>

<mat-card [fxHide.gt-xs]="true" class="mat-elevation-z4" style="color: #000; background-color: white">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-form-field style="color: #000" fxFlex="50%">
      <input
        [(ngModel)]="viewDate"
        [matDatepicker]="picker_date"
        id="datepicker-date"
        matInput
        name="datepicker-date"
        required
        placeholder="{{ 'CALENDAR_DATE' | tr }}"
      />
      <mat-datepicker-toggle style="color: #000" [for]="picker_date" matSuffix></mat-datepicker-toggle>
      <mat-datepicker style="color: #000" #picker_date></mat-datepicker>
    </mat-form-field>
    <button [matMenuTriggerFor]="menu" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around">
    <button (viewDateChange)="closeOpenMonthViewDay()" [(viewDate)]="viewDate" [view]="mobileView" mat-button mwlCalendarPreviousView>
      {{ 'CALENDAR_PREVIOUS' | tr }}
    </button>

    <button [(viewDate)]="viewDate" color="primary" mat-flat-button mwlCalendarToday>{{ 'CALENDAR_TODAY' | tr }}</button>

    <button (viewDateChange)="closeOpenMonthViewDay()" [(viewDate)]="viewDate" [view]="mobileView" mat-button mwlCalendarNextView>
      {{ 'CALENDAR_NEXT' | tr }}
    </button>
  </div>
  <mwl-calendar-day-view
    (eventClicked)="handleEvent($event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    [events]="events"
    [locale]="locale"
    [refresh]="refresh"
    weekStartsOn="1"
    dayStartHour="5"
    dayStartMinute="30"
    dayEndHour="22"
    dayEndMinute="30"
    [viewDate]="viewDate"
  >
  </mwl-calendar-day-view>
</mat-card>
