<mat-card class="mat-elevation-z3">
  <mat-card-content>
    <div class="row">
      <div class="col-12" style="text-align: center">
        {{ viewDate | date: 'EE, dd.MM.yyyy' }}
      </div>
    </div>

    <div class="row justify-content-around">
      <div class="col" style="text-align: center">
        <button (viewDateChange)="closeOpenMonthViewDay()" [(viewDate)]="viewDate" [view]="view" mat-flat-button mwlCalendarPreviousView>
          {{ 'CALENDAR_PREVIOUS' | translate }}
        </button>

        <button [(viewDate)]="viewDate" color="primary" mat-flat-button mwlCalendarToday>{{ 'CALENDAR_TODAY' | translate }}</button>

        <button (viewDateChange)="closeOpenMonthViewDay()" [(viewDate)]="viewDate" [view]="view" mat-flat-button mwlCalendarNextView>
          {{ 'CALENDAR_NEXT' | translate }}
        </button>
      </div>

      <!--      <div class="col" style="text-align: center">-->
      <!--        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'de' }}</h3>-->
      <!--      </div>-->
      <div class="col" style="text-align: center">
        <button (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month" mat-stroked-button>
          {{ 'CALENDAR_MONTH' | translate }}
        </button>
        <button (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week" mat-stroked-button>
          {{ 'CALENDAR_WEEK' | translate }}
        </button>
        <button (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day" mat-stroked-button>
          {{ 'CALENDAR_DAY' | translate }}
        </button>
      </div>
    </div>

    <br />

    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent($event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        *ngSwitchCase="CalendarView.Month"
        [activeDayIsOpen]="activeDayIsOpen"
        [events]="events"
        [locale]="locale"
        [refresh]="refresh"
        [viewDate]="viewDate"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        (eventClicked)="handleEvent($event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        *ngSwitchCase="CalendarView.Week"
        [events]="events"
        [locale]="locale"
        [refresh]="refresh"
        [viewDate]="viewDate"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        (eventClicked)="handleEvent($event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        *ngSwitchCase="CalendarView.Day"
        [events]="events"
        [locale]="locale"
        [refresh]="refresh"
        [viewDate]="viewDate"
      >
      </mwl-calendar-day-view>
    </div>
  </mat-card-content>
</mat-card>
