<div class="container-fluid" style="min-height: 90%">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-4 col-lg-2">
      <mat-action-list>
        <button mat-list-item mat-ripple routerLinkActive="active" routerLink="imprint"> Impressum </button>
        <button mat-list-item mat-ripple routerLinkActive="active" routerLink="privacypolicy"> Datenschutzerklärung </button>
        <button mat-list-item mat-ripple routerLink="/signin">Go back</button>
      </mat-action-list>

    </div>
    <div class="col-12 col-sm-12 col-md-8 col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-footer></app-footer>
