<div class="row justify-content-around">
  <mat-form-field class="col-11 col-sm-11 col-md-7 col-lg-5 col-xl-5">
    <input matInput [(ngModel)]="searchFilter" name="search" placeholder="{{ 'SEARCH' | translate }}" />
  </mat-form-field>
  <div class="col-11 col-sm-11 col-md-2 col-lg-1 col-xl-1">
    <button mat-button (click)="search()" type="button" class="info-button" style="width: 100%">Suchen</button>
  </div>
  <div class="col-11 col-sm-11 col-md-1 col-lg-2 col-xl-2" *ngIf="edible">
    <button mat-stroked-button (click)="clearSelection()" type="button" style="width: 100%">
      {{ 'MAPS_CLEAR_SELECTION' | translate }}
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <div class="col-11" style="height: 500px;">
    <div class="map-container">
      <div class="map-frame">
        <div id="{{ randomMapId }}" class="map"></div>
      </div>
    </div>
  </div>
</div>
