<div class="row">
  <app-movie-ticket
    class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
    *ngFor="let movie of movies"
    [movie]="movie">
  </app-movie-ticket>
</div>

<div *ngIf="movies.length == 0" style="margin-top: 25%">
  <div class="row" style="margin-bottom: 15px;">
    <div class="col-12" style="text-align: center;">
      <mat-icon>remove_circle_outline</mat-icon>
    </div>
  </div>
  <div class="row" style="margin-bottom: 15px;">
    <div class="col-12" style="text-align: center; font-size: 2.5vh;">
      {{'CINEMA_TICKETS_NO_MOVIES_AVAILABLE' | translate}}
    </div>
  </div>
</div>
