<!-- Date -->
<div class="row" style="margin-bottom: 15px;">
  <b class="col-12"
    >{{ 'EVENTS_ADMINISTRATION_INFO_EVENT_DATE' | translate }} {{ startDate | date: 'EE, dd.MM.yyyy HH:mm' }} -
    {{ endDate | date: 'EE, dd.MM.yyyy HH:mm' }}</b
  >
</div>

<!-- Description -->
<div *ngIf="description != null">
  <div class="row" *ngIf="description.length > 0">
    <div class="col-12">
      <mat-form-field appearance="outline">
        <textarea
          [(ngModel)]="description"
          matInput
          name="description"
          placeholder="{{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DESCRIPTION' | translate }}"
          readonly
        ></textarea>
      </mat-form-field>
    </div>
  </div>
</div>

<app-event-dates-list [dates]="dates"></app-event-dates-list>

<mat-progress-bar *ngIf="sendingRequest" mode="indeterminate" style="margin-top: 15px;"></mat-progress-bar>

<div class="row" *ngIf="!sendingRequest">
  <div class="col-12" style="padding-top: 15px;">
    <!-- Complete chart for all votes -->
    <app-result-user-bar-chart
      [resultUsers]="event.getResultUsers()"
      *ngIf="event != null"
      [decisions]="event.getDecisions()"
    ></app-result-user-bar-chart>

    <mat-expansion-panel style="margin-top: 15px;" *ngIf="!event?.anonymous">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'EVENTS_ADMINISTRATION_INFO_EVENT_COMPLETE_USERS_TABLE' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-result-user-table
        [resultUsers]="event.getResultUsers()"
        [decisions]="event.getDecisions()"
        *ngIf="
          event != null &&
          !this.myUserService.hasPermission(ROOT_PERMISSION) &&
          !this.myUserService.hasPermission(EVENTS_ADMINISTRATION_PERMISSION)
        "
      >
      </app-result-user-table>

      <app-event-user-management
        *ngIf="
          event != null &&
          (this.myUserService.hasPermission(ROOT_PERMISSION) || this.myUserService.hasPermission(EVENTS_ADMINISTRATION_PERMISSION))
        "
        [resultUsers]="event.getResultUsers()"
        [event]="event"
      ></app-event-user-management>
    </mat-expansion-panel>

    <app-divider></app-divider>

    <div class="row" style="margin-top: 15px;">
      <mat-form-field class="col-12">
        <input
          (ngModelChange)="applyFilter($event)"
          [(ngModel)]="searchValue"
          matInput
          placeholder="{{ 'MANAGEMENT_GROUPS_SEARCH' | translate }}"
        />
        <button (click)="searchValue = ''; applyFilter('')" *ngIf="searchValue" aria-label="Clear" mat-button mat-icon-button matSuffix>
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <app-group-info-card
      *ngFor="let resultGroup of sortedResultGroups; trackBy: trackByFn"
      [resultGroup]="resultGroup"
      [searchValue]="searchValue"
    ></app-group-info-card>
  </div>
</div>
