<h1 mat-dialog-title>{{'MANAGEMENT_USERS_UPDATE_USER_MODAL_TITLE' | translate}} {{firstname}} {{surname}}</h1>
<div mat-dialog-content>
  <form (ngSubmit)="update(form)" #form="ngForm">
    <div class="row">
      <div class="col-12">
        <app-do-not-forget-to-save></app-do-not-forget-to-save>
      </div>
    </div>

    <div class="row">
      <!-- Title -->
      <mat-form-field class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">
        <input matInput id="title" name="title" type="text"
               ngModel #titleModel="ngModel" [(ngModel)]="title"
               maxlength="190"
               placeholder="{{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_TITLE' | translate}}">
        <mat-error *ngIf="titleModel.invalid">
          {{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_TITLE_INCORRECT' | translate}}
        </mat-error>
      </mat-form-field>

      <!-- Username -->
      <mat-form-field class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <input matInput id="username" name="username" type="text"
               ngModel #usernameModel="ngModel" [(ngModel)]="username" (ngModelChange)="onUsernameChange(usernameModel)"
               maxlength="190" required minlength="1"
               placeholder="{{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_USERNAME' | translate}}">
        <mat-error *ngIf="usernameModel.invalid && !usernameModel.errors?.alreadyTaken">
          {{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_USERNAME_INCORRECT' | translate}}
        </mat-error>
        <mat-error *ngIf="usernameModel.errors?.alreadyTaken">
          {{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_USERNAME_ALREADY_TAKEN' | translate}}
        </mat-error>
      </mat-form-field>

      <!-- Firstname -->
      <mat-form-field class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
        <input matInput id="firstname" name="firstname" type="text"
               ngModel #firstnameModel="ngModel" [(ngModel)]="firstname"
               maxlength="190" required minlength="1"
               placeholder="{{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_FIRSTNAME' | translate}}">
        <mat-error *ngIf="firstnameModel.invalid">
          {{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_FIRSTNAME_INCORRECT' | translate}}
        </mat-error>
      </mat-form-field>

      <!-- Surname -->
      <mat-form-field class="col-12 col-sm-12 col-md-5 col-lg-3 col-xl-3">
        <input matInput id="surname" name="surname" type="text"
               ngModel #surnameModel="ngModel" [(ngModel)]="surname"
               maxlength="190" required minlength="1"
               placeholder="{{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_SURNAME' | translate}}">
        <mat-error *ngIf="surnameModel.invalid">
          {{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_SURNAME_INCORRECT' | translate}}
        </mat-error>
      </mat-form-field>

      <!-- Birthday -->
      <mat-form-field class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 datepicker-field">
        <input matInput [matDatepicker]="picker_birthday"
               name="datepicker-birthday" [(ngModel)]="birthday" id="datepicker-birthday"
               placeholder="{{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_BIRTHDAY' | translate}}">
        <mat-datepicker-toggle matSuffix [for]="picker_birthday"></mat-datepicker-toggle>
        <mat-datepicker #picker_birthday></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 datepicker-field-mobile">
        <input matInput [matDatepicker]="picker_mobile_birthday"
               name="datepicker-birthday-mobile" [(ngModel)]="birthday" id="datepicker-birthday-mobile"
               placeholder="{{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_BIRTHDAY' | translate}}">
        <mat-datepicker-toggle matSuffix [for]="picker_mobile_birthday"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker_mobile_birthday></mat-datepicker>
      </mat-form-field>

      <!-- Join date -->
      <mat-form-field class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 datepicker-field">
        <input matInput [matDatepicker]="picker_joindate"
               name="datepicker-join_date" [(ngModel)]="join_date" id="datepicker-join_date"
               placeholder="{{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_JOIN_DATE' | translate}}">
        <mat-datepicker-toggle matSuffix [for]="picker_joindate"></mat-datepicker-toggle>
        <mat-datepicker #picker_joindate></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 datepicker-field-mobile">
        <input matInput [matDatepicker]="picker_mobile_joindate"
               name="datepicker-join_date-mobile" [(ngModel)]="join_date" id="datepicker-join_date-mobile"
               placeholder="{{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_JOIN_DATE' | translate}}">
        <mat-datepicker-toggle matSuffix [for]="picker_mobile_joindate"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker_mobile_joindate></mat-datepicker>
      </mat-form-field>

      <!-- Streetname -->
      <mat-form-field class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <input matInput id="streetname" name="streetname" type="text"
               ngModel #streetnameModel="ngModel" [(ngModel)]="streetname"
               maxlength="190" required minlength="1"
               placeholder="{{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_STREETNAME' | translate}}">
        <mat-error *ngIf="streetnameModel.invalid">
          {{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_STREETNAME_INCORRECT' | translate}}
        </mat-error>
      </mat-form-field>

      <!-- Streetnumber -->
      <mat-form-field class="col-12 col-sm-12 col-md-6 col-lg-2 col-xl-2">
        <input matInput id="streetnumber" name="streetnumber" type="text"
               ngModel #streetnumberModel="ngModel" [(ngModel)]="streetnumber"
               maxlength="190" required minlength="1"
               placeholder="{{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_STREETNUMBER' | translate}}">
        <mat-error *ngIf="streetnumberModel.invalid">
          {{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_STREETNUMBER_INCORRECT' | translate}}
        </mat-error>
      </mat-form-field>

      <!-- Zipcode -->
      <mat-form-field class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <input matInput id="zipcode" name="zipcode" type="number"
               ngModel #zipcodeModel="ngModel" [(ngModel)]="zipcode"
               min="1000" max="9999" number
               placeholder="{{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_ZIPCODE' | translate}}">
        <mat-error *ngIf="zipcodeModel.invalid">
          {{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_ZIPCODE_INCORRECT' | translate}}
        </mat-error>
      </mat-form-field>

      <!-- Location -->
      <mat-form-field class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <input matInput id="location" name="location" type="text"
               ngModel #locationModel="ngModel" [(ngModel)]="location"
               maxlength="190" required minlength="1"
               placeholder="{{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_LOCATION' | translate}}">
        <mat-error *ngIf="locationModel.invalid">
          {{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_LOCATION_INCORRECT' | translate}}
        </mat-error>
      </mat-form-field>

      <!-- Activity -->
      <mat-form-field class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <input matInput id="activity" name="activity" type="text"
               ngModel #activityModel="ngModel" [(ngModel)]="activity"
               maxlength="190" required minlength="1"
               placeholder="{{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_ACTIVITY' | translate}}">
        <mat-error *ngIf="activityModel.invalid">
          {{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_ACTIVITY_INCORRECT' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <app-divider></app-divider>

    <!-- Email addresses -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'MANAGEMENT_USERS_CREATE_USER_MODAL_LIST_EMAIL_ADDRESSES' | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-email-addresses-list [emailAddressesInput]="emailAddresses"
                                (emailAddressesChanged)="onEmailAddressChanged($event)"></app-email-addresses-list>
    </mat-expansion-panel>

    <app-divider></app-divider>

    <!-- Phone number -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_PHONE_NUMBERS' | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-phone-numbers-list [phoneNumbers]="phoneNumbers"
                                (phoneNumbersChanged)="onPhoneNumbersChanged($event)"></app-phone-numbers-list>
    </mat-expansion-panel>

    <app-divider></app-divider>

    <!-- Group management -->
    <app-group-and-subgroup-select [free]="free" [joined]="joined" (freeChanged)="onFreeChange($event)"
                                   (joinedChanged)="onJoinedChange($event)"></app-group-and-subgroup-select>

    <app-divider></app-divider>

    <!-- Performance badges -->
    <app-performance-badges-list [userPerformanceBadges]="userPerformanceBadges"
                                 (performanceBadgesChanged)="onUserPerformanceBadgesChange($event)">
    </app-performance-badges-list>

    <app-divider></app-divider>

    <!-- Permissions -->
    <mat-expansion-panel *ngIf="hasPermissionToChangePermission">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_PERMISSIONS' | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-permissions-list [permissions]="permissions"
                            (permissionsChanged)="onPermissionsChange($event)">
      </app-permissions-list>
    </mat-expansion-panel>

    <app-divider *ngIf="hasPermissionToChangePermission"></app-divider>

    <!-- Activity -->
    <div class="row">
      <div class="col-12">
        <mat-checkbox id="activated" name="activated" ngModel color="accent" [(ngModel)]="activated"
                      matTooltipPosition="right"
                      matTooltip="{{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_ACTIVATED_DESCRIPTION' | translate}}">
          {{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_ACTIVATED' | translate}}
        </mat-checkbox>
      </div>
    </div>

  </form>
</div>
<div mat-dialog-actions style="margin-top: 15px">
  <mat-progress-bar mode="indeterminate" *ngIf="sendingRequest" style="margin-bottom: 10px;"></mat-progress-bar>
  <button mat-button [mat-dialog-close]>{{'CLOSE' | translate}}</button>
  <button mat-button (click)="form.ngSubmit.emit()" class="success-button"
          [disabled]="!form.form.valid">{{'SAVE' | translate}}</button>
</div>

<ng-template #successfullyUpdatedUser>
  <h2>{{'MANAGEMENT_USERS_UPDATE_USER_MODAL_SUCCESSFULLY_UPDATED_USER' | translate}}</h2>
</ng-template>
