<h2 mat-dialog-title>{{ 'CINEMA_TICKETS_WEATHER_FORECAST_MODAL' | tr }} {{ movie.name }}</h2>
<mat-dialog-content>
  <mat-progress-bar mode="indeterminate" *ngIf="!cinemaService.fetchedWeatherForecast"></mat-progress-bar>

  <div *ngIf="cinemaService.fetchedWeatherForecast">
    <div *ngIf="movie.getWeatherForecasts().length !== 0" fxLayout="column">
      <mat-list-item *ngFor="let weather of movie.getWeatherForecasts()" style="margin-bottom: 15px">
        <div mat-line fxLayout="row" fxLayoutAlign="space-between">
          <span
            ><b>{{ 'CINEMA_TICKETS_WEATHER_FORECAST_MODAL_BY' | tr }} {{ weather.date | date: 'HH:mm' }}: {{ weather.weather }}</b></span
          >
          <span style="text-align: right"
            ><b>{{ weather.temperature }}° C</b></span
          >
        </div>
        <div mat-line fxLayout="row" fxLayoutAlign="space-between">
          <span>{{ 'CINEMA_TICKETS_WEATHER_FORECAST_MODAL_CLOUDS' | tr }}</span>
          <span style="text-align: right">{{ weather.cloudy }}%</span>
        </div>
        <div mat-line fxLayout="row" fxLayoutAlign="space-between">
          <span>{{ 'CINEMA_TICKETS_WEATHER_FORECAST_MODAL_WIND_SPEED' | tr }}</span>
          <span style="text-align: right">{{ weather.windSpeed }}m/s</span>
        </div>
        <div mat-line>
          <mat-divider></mat-divider>
        </div>
      </mat-list-item>
    </div>

    <small>
      {{ 'CINEMA_TICKETS_WEATHER_FORECAST_MODAL_PROVIDER_1' | tr }}
      <a href="https://openweathermap.org" target="_blank" rel="noopener">OpenWeatherMap</a>
      {{ 'CINEMA_TICKETS_WEATHER_FORECAST_MODAL_PROVIDER_2' | tr }}
    </small>

    <div *ngIf="movie.getWeatherForecasts().length === 0">
      {{ 'CINEMA_TICKETS_WEATHER_FORECAST_MODAL_NO_DATA' | tr }}
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ 'CLOSE' | tr }}</button>
</mat-dialog-actions>
