<div class="row">
  <div class="col-11 col-md-12">
    <small>
      {{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_PERMISSIONS_SMALL_0' | translate}}
      <a href="https://datepoll.dafnik.me/permissions/"
         rel="noopener"
         target="_blank">Link</a>{{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_PERMISSIONS_SMALL_1' | translate}}
    </small>
  </div>
</div>

<form #permissionsForm="ngForm" (ngSubmit)="addPermission(permissionsForm)">
  <div class="row justify-content-around">
    <div class="col-11 col-sm-11 col-md-6 col-lg-7">
      <mat-form-field>
        <input #permissionModel="ngModel" id="permission" matInput maxlength="190"
               name="permission" ngModel
               placeholder="{{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_PERMISSION' | translate}}" required
               type="text">
        <mat-error *ngIf="permissionModel.invalid">
          {{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_PERMISSION_INCORRECT' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-11 col-sm-11 col-md-4 col-lg-3">
      <button [disabled]="!permissionsForm.valid" class="success-button" id="addPermission-button" mat-raised-button
              style="width: 100%" type="submit">
        {{'ADD' | translate}}
        <mat-icon aria-label="Submit button">playlist_add</mat-icon>
      </button>
    </div>
  </div>
</form>

<div class="row">
  <mat-list class="col-12">
    <mat-list-item *ngFor="let permission of permissions">
      <span matLine>{{ permission }}</span>
      <button (click)="removePermission(permission)" mat-icon-button matTooltip="{{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_REMOVE_PERMISSION_TOOLTIP' | translate}}"
              matTooltipPosition="right">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item *ngIf="permissions.length == 0">
      {{'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_NO_PERMISSIONS_AVAILABLE' | translate}}
    </mat-list-item>
  </mat-list>
</div>
