<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{'MANAGEMENT_USERS_CREATE_USER_MODAL_PERFORMANCE_BADGES_TITLE' | translate}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form class="row justify-content-around" #performanceBadgeForm="ngForm"
        (ngSubmit)="addPerformanceBadge(performanceBadgeForm)">
    <div class="col-12 col-sm-12 col-md-5 col-lg-2">
      <app-instrument-select (instrumentChanged)="onInstrumentChanged($event)"></app-instrument-select>
    </div>

    <div class="col-12 col-sm-12 col-md-5 col-lg-3">
      <app-performance-badge-select
        (performanceBadgeChanged)="onPerformanceBadgeChanged($event)"></app-performance-badge-select>
    </div>

    <mat-form-field class="col-12 col-sm-12 col-md-5 col-lg-2 datepicker-field">
      <input matInput [matDatepicker]="picker_performanceBadge"
             name="datepicker-performanceBadge" [(ngModel)]="performanceBadgeDate" id="datepicker-performanceBadge"
             placeholder="{{'MANAGEMENT_USERS_CREATE_USER_MODAL_PERFORMANCE_BADGES_DATE' | translate}}">
      <mat-datepicker-toggle matSuffix [for]="picker_performanceBadge"></mat-datepicker-toggle>
      <mat-datepicker #picker_performanceBadge></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col-12 col-sm-12 col-md-5 col-lg-2 datepicker-field-mobile">
      <input matInput [matDatepicker]="picker_mobile_performanceBadge"
             name="datepicker-performanceBadge-mobile" [(ngModel)]="performanceBadgeDate"
             id="datepicker-performanceBadge-mobile"
             placeholder="{{'MANAGEMENT_USERS_CREATE_USER_MODAL_PERFORMANCE_BADGES_DATE' | translate}}">
      <mat-datepicker-toggle matSuffix [for]="picker_mobile_performanceBadge"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker_mobile_performanceBadge></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col-12 col-sm-12 col-md-5 col-lg-2">
      <input matInput id="performanceBadge-grade" name="performanceBadgeGrade" type="text"
             ngModel #performanceBadgeGradeModel="ngModel"
             maxlength="190"
             placeholder="{{'MANAGEMENT_USERS_CREATE_USER_MODAL_PERFORMANCE_BADGES_GRADE' | translate}}">
      <mat-error *ngIf="performanceBadgeGradeModel.invalid">
        {{'MANAGEMENT_USERS_CREATE_USER_MODAL_PERFORMANCE_BADGES_GRADE_INCORRECT' | translate}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-12 col-sm-12 col-md-5 col-lg-7">
      <input matInput id="performanceBadge-note" name="performanceBadgeNote" type="text"
             ngModel #performanceBadgeNoteModel="ngModel"
             maxlength="190"
             placeholder="{{'MANAGEMENT_USERS_CREATE_USER_MODAL_PERFORMANCE_BADGES_NOTE' | translate}}">
      <mat-error *ngIf="performanceBadgeNoteModel.invalid">
        {{'MANAGEMENT_USERS_CREATE_USER_MODAL_PERFORMANCE_BADGES_NOTE_INCORRECT' | translate}}
      </mat-error>
    </mat-form-field>

    <div class="col-12 col-sm-12 col-md-12 col-lg-3">
      <button mat-raised-button class="success-button" style="width: 100%" id="addPerformanceBadge-button"
              type="submit"
              [disabled]="!performanceBadgeForm.valid || selectedInstrument == null || selectedPerformanceBadge == null">
        {{'ADD' | translate}}
        <mat-icon aria-label="Submit button">playlist_add</mat-icon>
      </button>
    </div>
  </form>

  <div class="row">
    <mat-list class="col-11">
      <mat-list-item *ngFor="let userPerformanceBadge of userPerformanceBadges">
            <span matLine>{{ userPerformanceBadge.performanceBadgeName }}
              {{'MANAGEMENT_USERS_CREATE_USER_MODAL_PERFORMANCE_BADGES_WITH' | translate}}
              {{ userPerformanceBadge.instrumentName }}
            </span>
        <span matLine
              *ngIf="userPerformanceBadge.date != null">Datum: {{userPerformanceBadge.date | date:'dd.MM.yyyy'}}</span>
        <span matLine *ngIf="userPerformanceBadge.grade != null">Erfolg: {{userPerformanceBadge.grade}}</span>
        <span matLine *ngIf="userPerformanceBadge.note != null">Anmerkung: {{userPerformanceBadge.note}}</span>
        <button mat-icon-button (click)="removePerformanceBadge(userPerformanceBadge.id)" matTooltipPosition="right"
                matTooltip="{{'MANAGEMENT_USERS_CREATE_USER_MODAL_PERFORMANCE_BADGES_REMOVE_TOOLTIP' | translate}}">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="userPerformanceBadges.length == 0">
        {{'MANAGEMENT_USERS_CREATE_USER_MODAL_PERFORMANCE_BADGES_NO_AVAILABLE' | translate}}
      </mat-list-item>
    </mat-list>
  </div>
</mat-expansion-panel>
