<h1 mat-dialog-title>{{ 'EVENTS_ADMINISTRATION_UPDATE_EVENT' | tr }} {{ name }}</h1>
<div mat-dialog-content>
  <form #form="ngForm" (ngSubmit)="update(form)" fxLayout="row break" fxLayout.lt-xl="column" fxLayoutGap="2%" fxLayoutAlign="start">
    <!-- Name -->
    <mat-form-field fxFlex="100%%">
      <input
        #nameModel="ngModel"
        [(ngModel)]="name"
        id="name"
        matInput
        maxlength="190"
        minlength="1"
        name="name"
        ngModel
        placeholder="{{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_NAME' | tr }}"
        required
        type="text"
      />
      <mat-error *ngIf="nameModel.invalid">
        {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_NAME_INCORRECT' | tr }}
      </mat-error>
    </mat-form-field>

    <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
      <!-- Group management -->
      <app-group-and-subgroup-type-input-select
        fxFlex="90%"
        (allGroupsAndSubgroupsChange)="onFreeChange($event)"
        (groupsAndSubgroupsChange)="onJoinedChange($event)"
        [allGroupsAndSubgroups]="free"
        [disabled]="allMembers"
        [selectedGroupsAndSubgroups]="joined"
      >
      </app-group-and-subgroup-type-input-select>

      <app-all-groups-switch (toggleChange)="allMembersChanged($event)" [checked]="allMembers"></app-all-groups-switch>
    </div>

    <app-event-dates-management fxFlex="48%" [dates]="dates" (datesChange)="onEventDatesChange($event)"></app-event-dates-management>

    <div fxFlex="48%">
      <!-- Decisions -->
      <app-event-decisions-list (decisionsChanged)="onDecisionsChange($event)" [decisions]="decisions"></app-event-decisions-list>

      <!-- Description -->
      <mat-expansion-panel style="margin-top: 10px">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DESCRIPTION' | tr }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field appearance="outline" style="width: 100%">
          <textarea [(ngModel)]="description" matInput name="description" ngModel style="min-height: 15vh"></textarea>
        </mat-form-field>
      </mat-expansion-panel>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button [mat-dialog-close] mat-button>{{ 'CLOSE' | tr }}</button>
  <button (click)="form.ngSubmit.emit()" [disabled]="!form.form.valid" color="accent" mat-flat-button>{{ 'SAVE' | tr }}</button>
</div>
