<div *ngIf="error">
  {{ error.message }}
</div>

<h3 style="margin-bottom: -11px">{{ 'BROADCASTS_ADMINISTRATION_CREATE_ATTACHMENTS_TITLE' | translate }}</h3>
<mat-form-field>
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let attachment of attachments" [removable]="true" (removed)="remove(attachment)">
      {{ attachment.name }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      type="file"
      multiple
      name="attachment"
      (change)="onFileChange($event)"
    />
  </mat-chip-list>
</mat-form-field>

<div *ngFor="let uploadResponse of uploadResponses" fxLayout="column">
  <div fxFlex style="margin-bottom: 15px">
    <mat-progress-bar
      mode="determinate"
      *ngIf="uploadResponse.status === 'progress'"
      value="{{ uploadResponse.message }}"
    ></mat-progress-bar>
    <div *ngIf="uploadResponse.status === 'error'">
      {{ uploadResponse.message }}
    </div>
  </div>
</div>
