<h1
  mat-dialog-title>{{'MANAGEMENT_GROUPS_INFO_GROUP_MODAL_ROLE_UPDATE_MODAL_TITLE' | translate}}{{user.firstname}} {{user.surname}}</h1>
<div mat-dialog-content>
  <form (ngSubmit)="onUpdate(form)" #form="ngForm">
    <div class="row">
      <mat-form-field class="col-12">
        <!-- Role -->
        <input matInput id="role" name="role" type="text"
               ngModel #roleModel="ngModel" [(ngModel)]="user.role"
               maxlength="190"
               placeholder="{{'MANAGEMENT_GROUPS_INFO_GROUP_MODAL_ROLE_UPDATE_MODAL_ROLE' | translate}}">
        <mat-error *ngIf="roleModel.invalid">
          {{'MANAGEMENT_GROUPS_INFO_GROUP_MODAL_ROLE_UPDATE_MODAL_ROLE_INCORRECT' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
  <mat-progress-bar mode="indeterminate" *ngIf="sendingRequest"></mat-progress-bar>
</div>
<div mat-dialog-actions style="margin-top: 15px">
  <button mat-button [mat-dialog-close]>{{'CLOSE' | translate}}</button>
  <button mat-button (click)="form.ngSubmit.emit()" class="success-button"
          [disabled]="!form.form.valid">{{'SAVE' | translate}}</button>
</div>
