<h1
  mat-dialog-title>{{'MANAGEMENT_GROUPS_INFO_GROUP_MODAL_ROLE_UPDATE_MODAL_TITLE' | translate}}{{user.firstname}} {{user.surname}}</h1>
<div mat-dialog-content>
  <form #form="ngForm" (ngSubmit)="onUpdate(form)">
    <div class="row">
      <mat-form-field class="col-12">
        <!-- Role -->
        <input #roleModel="ngModel" [(ngModel)]="user.role" id="role" matInput
               maxlength="190" name="role" ngModel
               placeholder="{{'MANAGEMENT_GROUPS_INFO_GROUP_MODAL_ROLE_UPDATE_MODAL_ROLE' | translate}}"
               type="text">
        <mat-error *ngIf="roleModel.invalid">
          {{'MANAGEMENT_GROUPS_INFO_GROUP_MODAL_ROLE_UPDATE_MODAL_ROLE_INCORRECT' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
  <mat-progress-bar *ngIf="sendingRequest" mode="indeterminate"></mat-progress-bar>
</div>
<div mat-dialog-actions style="margin-top: 15px">
  <button [mat-dialog-close] mat-button>{{'CLOSE' | translate}}</button>
  <button (click)="form.ngSubmit.emit()" [disabled]="!form.form.valid" class="success-button"
          mat-button>{{'SAVE' | translate}}</button>
</div>
