<h1 mat-dialog-title>{{ 'MANAGEMENT_GROUPS_INFO_GROUP_MODAL_ROLE_UPDATE_MODAL_TITLE' | tr }}{{ user.firstname }} {{ user.surname }}</h1>
<div mat-dialog-content>
  <form #form="ngForm" (ngSubmit)="onUpdate(form)" fxLayout="column">
    <mat-form-field>
      <!-- Role -->
      <input
        #roleModel="ngModel"
        [(ngModel)]="user.role"
        id="role"
        matInput
        maxlength="190"
        name="role"
        ngModel
        placeholder="{{ 'MANAGEMENT_GROUPS_INFO_GROUP_MODAL_ROLE_UPDATE_MODAL_ROLE' | tr }}"
        type="text"
      />
      <mat-error *ngIf="roleModel.invalid">
        {{ 'MANAGEMENT_GROUPS_INFO_GROUP_MODAL_ROLE_UPDATE_MODAL_ROLE_INCORRECT' | tr }}
      </mat-error>
    </mat-form-field>
  </form>
  <mat-progress-bar *ngIf="sendingRequest" mode="indeterminate"></mat-progress-bar>
</div>
<div mat-dialog-actions style="margin-top: 15px">
  <button [mat-dialog-close] mat-button>{{ 'CLOSE' | tr }}</button>
  <button (click)="form.ngSubmit.emit()" [disabled]="!form.form.valid" color="accent" mat-flat-button>{{ 'SAVE' | tr }}</button>
</div>
