<mat-card class="mat-elevation-z3">
  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutGap="2%">
      <div>
        <button mat-stroked-button routerLink="/home/management/user">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <h1 style="padding-top: 5px">{{ 'NAV_MANAGEMENT_PERFORMANCE_BADGES' | translate }}</h1>

      <div style="width: 100%; text-align: end">
        <button
          (click)="onRefresh()"
          mat-icon-button
          matTooltip="{{ 'MANAGEMENT_PERFORMANCE_BADGES_REFRESH' | translate }}"
          matTooltipPosition="right"
        >
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
    </div>
    <div fxLayout.gt-md="row break" fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="2%">
      <mat-card class="mat-elevation-z3" fxFlex="48%">
        <mat-card-title>{{ 'MANAGEMENT_PERFORMANCE_BADGES_TITLE_PERFORMANCE_BADGES' | translate }}</mat-card-title>
        <mat-card-content *ngIf="performanceBadges != null">
          <form
            #addPerformanceBadgeForm="ngForm"
            (ngSubmit)="addPerformanceBadge(addPerformanceBadgeForm)"
            fxLayout.gt-xs="row"
            fxLayout="column"
          >
            <mat-form-field>
              <input
                #performanceBadgeNameModel="ngModel"
                id="performanceBadgeName"
                matInput
                maxlength="190"
                minlength="1"
                name="performanceBadgeName"
                ngModel
                placeholder="{{ 'MANAGEMENT_PERFORMANCE_BADGES_ADD_PERFORMANCE_BADGE_NAME' | translate }}"
                required
                type="text"
              />
              <mat-error *ngIf="performanceBadgeNameModel.invalid">
                {{ 'MANAGEMENT_PERFORMANCE_BADGES_ADD_PERFORMANCE_BADGE_NAME_INCORRECT' | translate }}
              </mat-error>
            </mat-form-field>
            <div>
              <button [disabled]="!addPerformanceBadgeForm.valid" mat-flat-button style="width: 100%" type="submit" color="accent">
                {{ 'ADD' | translate }}
                <mat-icon aria-label="Submit button">library_add</mat-icon>
              </button>
            </div>
          </form>

          <mat-list>
            <mat-list-item *ngFor="let performanceBadge of performanceBadges; trackBy: trackByFn">
              <span matLine>{{ performanceBadge.name }}</span>
              <button
                (click)="updatePerformanceBadge(performanceBadge)"
                mat-icon-button
                matTooltip="{{ 'MANAGEMENT_PERFORMANCE_BADGES_UPDATE_PERFORMANCE_BADGE_TOOLTIP' | translate }}"
                matTooltipPosition="above"
              >
                <mat-icon>create</mat-icon>
              </button>
              <button
                (click)="removePerformanceBadge(performanceBadge.id)"
                mat-icon-button
                matTooltip="{{ 'MANAGEMENT_PERFORMANCE_BADGES_REMOVE_PERFORMANCE_BADGE_TOOLTIP' | translate }}"
                matTooltipPosition="above"
              >
                <mat-icon>delete</mat-icon>
              </button>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-content *ngIf="performanceBadges == null" fxLayout="row" fxLayoutAlign="center center">
          <mat-spinner></mat-spinner>
        </mat-card-content>
      </mat-card>

      <mat-card class="mat-elevation-z3" fxFlex="48%">
        <mat-card-title>{{ 'MANAGEMENT_PERFORMANCE_BADGES_TITLE_INSTRUMENTS' | translate }}</mat-card-title>
        <mat-card-content *ngIf="instruments != null">
          <form #addInstrumentForm="ngForm" (ngSubmit)="addInstrument(addInstrumentForm)" fxLayout.gt-xs="row" fxLayout="column">
            <mat-form-field>
              <input
                #instrumentNameModel="ngModel"
                id="instrumentName"
                matInput
                maxlength="190"
                minlength="1"
                name="instrumentName"
                ngModel
                placeholder="{{ 'MANAGEMENT_PERFORMANCE_BADGES_ADD_INSTRUMENT_NAME' | translate }}"
                required
                type="text"
              />
              <mat-error *ngIf="instrumentNameModel.invalid">
                {{ 'MANAGEMENT_PERFORMANCE_BADGES_ADD_INSTRUMENT_NAME_INCORRECT' | translate }}
              </mat-error>
            </mat-form-field>
            <div>
              <button [disabled]="!addInstrumentForm.valid" mat-flat-button style="width: 100%" type="submit" color="accent">
                {{ 'ADD' | translate }}
                <mat-icon aria-label="Submit button">library_add</mat-icon>
              </button>
            </div>
          </form>

          <mat-list>
            <mat-list-item *ngFor="let instrument of instruments; trackBy: trackByFn">
              <span matLine>{{ instrument.name }}</span>
              <button
                (click)="updateInstrument(instrument)"
                mat-icon-button
                matTooltip="{{ 'MANAGEMENT_PERFORMANCE_BADGES_UPDATE_INSTRUMENT_TOOLTIP' | translate }}"
                matTooltipPosition="above"
              >
                <mat-icon>create</mat-icon>
              </button>
              <button
                (click)="removeInstrument(instrument.id)"
                mat-icon-button
                matTooltip="{{ 'MANAGEMENT_PERFORMANCE_BADGES_REMOVE_INSTRUMENT_TOOLTIP' | translate }}"
                matTooltipPosition="above"
              >
                <mat-icon>delete</mat-icon>
              </button>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-content *ngIf="instruments == null" fxLayout="row" fxLayoutAlign="center center">
          <mat-spinner></mat-spinner>
        </mat-card-content>
      </mat-card>

      <mat-card class="mat-elevation-z3" fxFlex="48%">
        <mat-card-title>{{ 'MANAGEMENT_PERFORMANCE_BADGES_BADGE_TITLE' | translate }}</mat-card-title>
        <mat-card-content *ngIf="badges != null">
          <form #addBadgeForm="ngForm" (ngSubmit)="addBadge(addBadgeForm)" fxLayout.gt-xs="row" fxLayout="column">
            <mat-form-field>
              <input
                #badgeDescriptionModel="ngModel"
                id="badgeDescription"
                matInput
                maxlength="190"
                minlength="1"
                name="badgeDescription"
                ngModel
                placeholder="{{ 'MANAGEMENT_PERFORMANCE_BADGES_BADGE_ADD_DESCRIPTION' | translate }}"
                required
                type="text"
              />
              <mat-error *ngIf="badgeDescriptionModel.invalid">
                {{ 'MANAGEMENT_PERFORMANCE_BADGES_BADGE_ADD_DESCRIPTION_INCORRECT' | translate }}
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex.gt-md="30%">
              <input
                #badgeAfterYearsModel="ngModel"
                id="badgeAfterYears"
                matInput
                typeof="number"
                name="badgeAfterYears"
                ngModel
                placeholder="{{ 'MANAGEMENT_PERFORMANCE_BADGES_BADGE_ADD_AFTER_YEARS' | translate }}"
                required
              />
              <mat-error *ngIf="badgeAfterYearsModel.invalid">
                {{ 'MANAGEMENT_PERFORMANCE_BADGES_BADGE_ADD_AFTER_YEARS_INCORRECT' | translate }}
              </mat-error>
            </mat-form-field>

            <div>
              <button [disabled]="!addBadgeForm.valid" mat-flat-button style="width: 100%" type="submit" color="accent">
                {{ 'ADD' | translate }}
                <mat-icon aria-label="Submit button">library_add</mat-icon>
              </button>
            </div>
          </form>

          <mat-list>
            <mat-list-item *ngFor="let badge of badges; trackBy: trackByFn">
              <span matLine
                >{{ badge.description }} | {{ 'MANAGEMENT_PERFORMANCE_BADGES_BADGE_LIST_AFTER' | translate }} {{ badge.afterYears }}
                {{ 'MANAGEMENT_PERFORMANCE_BADGES_BADGE_LIST_YEARS' | translate }}</span
              >
              <button
                (click)="removeBadge(badge.id)"
                mat-icon-button
                matTooltip="{{ 'MANAGEMENT_PERFORMANCE_BADGES_REMOVE_INSTRUMENT_TOOLTIP' | translate }}"
                matTooltipPosition="above"
              >
                <mat-icon>delete</mat-icon>
              </button>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-content *ngIf="badges == null" fxLayout="row" fxLayoutAlign="center center">
          <mat-spinner></mat-spinner>
        </mat-card-content>
      </mat-card>

      <mat-card class="mat-elevation-z3" fxFlex="48%">
        <mat-card-title>{{ 'MANAGEMENT_PERFORMANCE_BADGES_YEAR' | translate }} {{ selectedYear }}</mat-card-title>
        <mat-card-content *ngIf="yearBadges != null" fxLayout="row" fxLayout.lt-sm="column">
          <mat-form-field [fxHide.gt-xs]="true">
            <input
              id="badgesYear_small"
              matInput
              name="badgesYear"
              ngModel
              placeholder="{{ 'CINEMA_TICKETS_ADMINISTRATION_YEAR_SELECT_PLACEHOLDER' | translate }}"
              required
              type="number"
              [(ngModel)]="selectedYear"
              (keyup)="refreshYearBadges()"
            />
          </mat-form-field>
          <mat-list fxFlex="80%">
            <mat-list-item *ngFor="let currentYearUser of this.yearBadges">
              <div matLine>
                {{ currentYearUser.firstname }} {{ currentYearUser.surname }} - {{ currentYearUser.joinDate | date: 'dd.MM.yyyy' }}
              </div>
              <div matLine *ngFor="let currentYearBadge of currentYearUser.currentYearBadges">
                > {{ currentYearBadge.description }} {{ 'MANAGEMENT_PERFORMANCE_BADGES_BADGE_LIST_AFTER' | translate }}
                {{ currentYearBadge.afterYears }} {{ 'MANAGEMENT_PERFORMANCE_BADGES_BADGE_LIST_YEARS' | translate }}
              </div>
            </mat-list-item>
          </mat-list>
          <mat-form-field fxFlex="20%" [fxHide.lt-sm]="true">
            <input
              id="badgesYear"
              matInput
              name="badgesYear"
              ngModel
              placeholder="{{ 'CINEMA_TICKETS_ADMINISTRATION_YEAR_SELECT_PLACEHOLDER' | translate }}"
              required
              type="number"
              [(ngModel)]="selectedYear"
              (keyup)="refreshYearBadges()"
            />
          </mat-form-field>
        </mat-card-content>
        <mat-card-content *ngIf="yearBadges == null" fxLayout="row" fxLayoutAlign="center center">
          <mat-spinner></mat-spinner>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
