<h1 mat-dialog-title>{{'MANAGEMENT_PERFORMANCE_BADGES_UPDATE_PERFORMANCE_BADGE_MODAL_TITLE' | translate}} {{name}}</h1>
<div mat-dialog-content>
  <form class="row" #form="ngForm" (ngSubmit)="update(form)">
    <div class="col-12">
      <mat-form-field>
        <input matInput id="performanceBadgeName" name="performanceBadgeName" type="text"
               ngModel #performanceBadgeNameModel="ngModel" [(ngModel)]="name"
               required maxlength="190" minlength="1"
               placeholder="{{'MANAGEMENT_PERFORMANCE_BADGES_ADD_PERFORMANCE_BADGE_NAME' | translate}}">
        <mat-error *ngIf="performanceBadgeNameModel.invalid">
          {{'MANAGEMENT_PERFORMANCE_BADGES_ADD_PERFORMANCE_BADGE_NAME_INCORRECT' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions style="margin-top: 15px">
  <button mat-button [mat-dialog-close]>{{'CLOSE' | translate}}</button>
  <button mat-button (click)="form.ngSubmit.emit()" class="success-button"
          [disabled]="!form.form.valid">{{'SAVE' | translate}}</button>
</div>

<ng-template #successfullyUpdatedPerformanceBadge>
  <h2>{{'MANAGEMENT_PERFORMANCE_BADGES_UPDATE_PERFORMANCE_BADGE_SUCCESSFUL' | translate}}</h2>
</ng-template>
