<div id="signin-container">
  <div class="container">
    <div class="row">
      <mat-card id="signin-card"
                class="col-10 col-sm-10 col-md-8 col-lg-6 offset-1 offset-sm-1 offset-md-2 offset-lg-3">
        <mat-card-title-group>
          <mat-card-title>
            <div class="projectName">
              {{projectName}}
            </div>
          </mat-card-title>

          <mat-card-title>
            DatePoll | {{ 'FORGOT_PASSWORD' | translate }}
          </mat-card-title>
        </mat-card-title-group>

        <mat-card-content>
          <div class="row">
            <div class="col-12">
              <mat-card matRipple class="error-mat-card" *ngIf="unknownEmailAlert">
                <mat-card-content class="last-child">{{'FORGOT_PASSWORD_UNKOWN_EMAIL' | translate}}</mat-card-content>
              </mat-card>
              <mat-card matRipple class="error-mat-card" *ngIf="verificationCodeIncorrect">
                <mat-card-content class="last-child">{{'FORGOT_PASSWORD_CODE_INCORRECT' | translate}}</mat-card-content>
              </mat-card>
              <mat-card matRipple class="error-mat-card" *ngIf="verificationCodeRateLimitExceeded">
                <mat-card-content
                  class="last-child">{{'FORGOT_PASSWORD_RATE_LIMIT_EXCEEDED' | translate}}</mat-card-content>
              </mat-card>
            </div>
          </div>

          <form (ngSubmit)="onSubmitForm(form)" #form="ngForm">
            <!-- Submit email state -->
            <div class="row" *ngIf="state.includes('SUBMIT_EMAIL')">
              <mat-form-field class="col-12">
                <span matPrefix>@ &nbsp;</span>
                <input matInput ngModel
                       id="email" name="email" type="email"
                       email required minlength="5"
                       placeholder="{{'SIGNIN_EMAIL' | translate}}">
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
            </div>

            <!-- Check code state -->
            <div class="row" *ngIf="state.includes('SUBMIT_CODE')">
              <mat-form-field class="col-12">
                <input matInput id="emailVerificationCode" name="emailVerificationCode" type="number"
                       ngModel #emailVerificationCodeModel="ngModel"
                       required number [range]="[100000, 999999]" min="100000" max="999999"
                       placeholder="{{'SETTINGS_PERSONAL_DATA_MODAL_EMAIL_ADDRESS_VERIFICATION_CODE' | translate}}">
                <mat-error *ngIf="emailVerificationCodeModel.invalid">
                  {{'SETTINGS_PERSONAL_DATA_MODAL_EMAIL_ADDRESS_VERIFICATION_CODE_NOT_VALID' | translate}}
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Update password state -->
            <div *ngIf="state.includes('SUBMIT_PASSWORD')">
              <div class="row">
                <mat-form-field class="col-12">
                  <input matInput ngModel #passwordModel="ngModel"
                         name="password" type="password"
                         minlength="5" required
                         placeholder="{{'SIGNIN_NEW_PASSWORD' | translate}}">
                </mat-form-field>
              </div>

              <div class="row">
                <mat-form-field class="col-12">
                  <input matInput ngModel #passwordRepeatModel="ngModel" [equalTo]="passwordModel"
                         name="password_repeat" type="password"
                         minlength="5" required
                         placeholder="{{'SIGNIN_NEW_PASSWORD_REPEAT' | translate}}">
                </mat-form-field>
                <mat-error *ngIf="passwordRepeatModel.errors?.equalTo" class="col-12">
                  {{'SIGNIN_PASSWORD_ARE_NOT_EQUAL' | translate}}
                </mat-error>
              </div>
            </div>

            <div *ngIf="state.includes('FINISHED')">
              <mat-card matRipple class="success-mat-card">
                <mat-card-content class="last-child">{{'FORGOT_PASSWORD_SUCCESSFUL' | translate}}</mat-card-content>
              </mat-card>
            </div>
          </form>
          <div class="row">
            <div class="col-12">
              <mat-progress-bar mode="indeterminate" *ngIf="sendingRequest"></mat-progress-bar>
            </div>
          </div>
        </mat-card-content>

        <mat-card-actions style="margin-bottom: 1px;">
          <div class="row justify-content-between">
            <div class="col">
              <button
                mat-raised-button
                color="primary"
                (click)="form.ngSubmit.emit()"
                *ngIf="!state.includes('FINISHED')"
                [disabled]="!form.form.valid || sendingRequest"
                type="submit">
                {{ 'NEXT' | translate }}
                <mat-icon aria-label="Example icon-button with a heart icon">send</mat-icon>
              </button>
            </div>
            <div class="col">
              <a routerLink="/signin" style="float: right" mat-raised-button color="accent">
                <mat-icon>arrow_back</mat-icon>
                {{'BACK' | translate}}
              </a>
            </div>
          </div>
        </mat-card-actions>

      </mat-card>
    </div>
  </div>
</div>

<app-footer></app-footer>
