<div id="signin-container">
  <div class="container">
    <div class="row">
      <mat-card class="col-10 col-sm-10 col-md-8 col-lg-6 offset-1 offset-sm-1 offset-md-2 offset-lg-3"
                id="signin-card">
        <mat-card-title-group>
          <mat-card-title>
            <div class="projectName">
              {{projectName}}
            </div>
          </mat-card-title>

          <mat-card-title>
            DatePoll | {{ 'FORGOT_PASSWORD' | translate }}
          </mat-card-title>
        </mat-card-title-group>

        <mat-card-content>
          <div class="row">
            <div class="col-12">
              <mat-card *ngIf="unknownUsernameAlert" class="error-mat-card" matRipple>
                <mat-card-content
                  class="last-child">{{'FORGOT_PASSWORD_UNKOWN_USERNAME' | translate}}</mat-card-content>
              </mat-card>
              <mat-card *ngIf="verificationCodeIncorrect" class="error-mat-card" matRipple>
                <mat-card-content class="last-child">{{'FORGOT_PASSWORD_CODE_INCORRECT' | translate}}</mat-card-content>
              </mat-card>
              <mat-card *ngIf="verificationCodeRateLimitExceeded" class="error-mat-card" matRipple>
                <mat-card-content
                  class="last-child">{{'FORGOT_PASSWORD_RATE_LIMIT_EXCEEDED' | translate}}</mat-card-content>
              </mat-card>
            </div>
          </div>

          <form #form="ngForm" (ngSubmit)="onSubmitForm(form)">
            <!-- Submit email state -->
            <div *ngIf="state.includes('SUBMIT_USERNAME')" class="row">
              <mat-form-field class="col-12">
                <input id="username" matInput
                       maxlength="190" minlength="3" name="username"
                       ngModel placeholder="{{'SIGNIN_USERNAME' | translate}}" required
                       type="text">
                <mat-icon matSuffix>account_circle</mat-icon>
              </mat-form-field>
            </div>

            <!-- Check code state -->
            <div *ngIf="state.includes('SUBMIT_CODE')" class="row">
              <mat-form-field class="col-12">
                <input #emailVerificationCodeModel="ngModel" [range]="[100000, 999999]" id="emailVerificationCode" matInput
                       max="999999" min="100000"
                       name="emailVerificationCode" ngModel number placeholder="{{'FORGOT_PASSWORD_CODE' | translate}}" required
                       type="number">
                <mat-error *ngIf="emailVerificationCodeModel.invalid">
                  {{'FORGOT_PASSWORD_CODE_INVALID' | translate}}
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Update password state -->
            <div *ngIf="state.includes('SUBMIT_PASSWORD')">
              <div class="row">
                <mat-form-field class="col-12">
                  <input #passwordModel="ngModel" matInput minlength="5"
                         name="password" ngModel
                         placeholder="{{'SIGNIN_NEW_PASSWORD' | translate}}" required
                         type="password">
                </mat-form-field>
              </div>

              <div class="row">
                <mat-form-field class="col-12">
                  <input #passwordRepeatModel="ngModel" [equalTo]="passwordModel" matInput minlength="5"
                         name="password_repeat" ngModel
                         placeholder="{{'SIGNIN_NEW_PASSWORD_REPEAT' | translate}}" required
                         type="password">
                </mat-form-field>
                <mat-error *ngIf="passwordRepeatModel.errors?.equalTo" class="col-12">
                  {{'SIGNIN_PASSWORD_ARE_NOT_EQUAL' | translate}}
                </mat-error>
              </div>
            </div>

            <div *ngIf="state.includes('FINISHED')">
              <mat-card class="success-mat-card" matRipple>
                <mat-card-content class="last-child">{{'FORGOT_PASSWORD_SUCCESSFUL' | translate}}</mat-card-content>
              </mat-card>
            </div>
          </form>
          <div class="row">
            <div class="col-12">
              <mat-progress-bar *ngIf="sendingRequest" mode="indeterminate"></mat-progress-bar>
            </div>
          </div>
        </mat-card-content>

        <mat-card-actions style="margin-bottom: 1px;">
          <div class="row justify-content-between">
            <div class="col">
              <button
                (click)="form.ngSubmit.emit()"
                *ngIf="!state.includes('FINISHED')"
                [disabled]="!form.form.valid || sendingRequest"
                color="primary"
                mat-raised-button
                type="submit">
                {{ 'NEXT' | translate }}
                <mat-icon aria-label="Example icon-button with a heart icon">send</mat-icon>
              </button>
            </div>
            <div class="col">
              <a color="accent" mat-raised-button routerLink="/auth/signin" style="float: right">
                <mat-icon>arrow_back</mat-icon>
                {{'BACK' | translate}}
              </a>
            </div>
          </div>
        </mat-card-actions>

      </mat-card>
    </div>
  </div>
</div>

<app-footer></app-footer>
