<mat-card>
  <div fxLayout="row" fxLayoutGap="2%">
    <div>
      <button mat-stroked-button routerLink="/home/management/user">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <h1 style="padding-top: 5px">{{ 'MANAGEMENT_USERS_DELETED_USERS' | tr }}</h1>
  </div>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="2%" fxLayout.lt-sm="column" style="margin-bottom: 10px">
      <mat-form-field>
        <input (keyup)="applyFilter($event.target.value)" matInput placeholder="{{ 'SEARCH' | tr }}" />
      </mat-form-field>

      <div>
        <button
          mat-flat-button
          color="accent"
          printSectionId="deleted-users"
          ngxPrint
          [useExistingCss]="true"
          printTitle="{{ 'MANAGEMENT_USERS_DELETED_USERS' | tr }}"
          style="width: 100%"
        >
          <mat-icon>print</mat-icon>
          {{ 'PRINT' | tr }}
        </button>
      </div>

      <div>
        <button mat-stroked-button color="warn" style="width: 100%" (click)="deleteAll()">
          {{ 'MANAGEMENT_USERS_DELETED_USERS_DELETE_ALL' | tr }}
        </button>
      </div>
    </div>

    <mat-accordion id="deleted-users" multi>
      <mat-expansion-panel *ngFor="let user of sortedUsers">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ user.firstname }} {{ user.surname }} </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-stroked-button color="warn" (click)="delete(user)">
          {{ 'MANAGEMENT_USERS_DELETED_USERS_DELETE_ALL' | tr }}
        </button>
        <p>{{ 'MANAGEMENT_USERS_DELETED_USERS_JOINED_AT' | tr }} {{ user.join_date | date: 'dd.MM.yyyy' }}</p>
        <p>{{ 'MANAGEMENT_USERS_DELETED_USERS_LEFT_AT' | tr }} {{ user.deletedAt | date: 'dd.MM.yyyy' }}</p>
        <p>{{ 'MANAGEMENT_USERS_DELETED_USERS_COMMENT' | tr }}</p>
        <mat-form-field appearance="outline" style="width: 100%" *ngIf="user.internalComment?.length > 1">
          <textarea
            [(ngModel)]="user.internalComment"
            matInput
            name="internalComment"
            ngModel
            readonly
            cdkTextareaAutosize
            [cdkAutosizeMinRows]="user.internalComment?.split('\n').length + 2"
          ></textarea>
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-progress-bar mode="indeterminate" *ngIf="!deletedUsersLoaded"></mat-progress-bar>
  </mat-card-content>
</mat-card>
