<div fxLayout="column">
  <div *ngFor="let date of dates">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span>
        {{ date.date | date: 'EE, dd.MM.yyyy HH:mm' }}
      </span>

      <button mat-icon-button color="warn" (click)="deleteDate(date)" matTooltip="{{ 'DELETE' | translate }}" matTooltipPosition="left">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
    <span>
      <a
        target="_blank"
        rel="noopener"
        href="https://www.google.com/maps/place/{{ date.x }}+{{ date.y }}"
        *ngIf="date.location?.length > 0 && date?.x !== -199 && date?.y !== -199"
      >
        {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_LIST_OPEN_LOCATION_1' | translate }}{{ date.location
        }}{{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_LIST_OPEN_LOCATION_2' | translate }}
      </a>

      <a
        target="_blank"
        rel="noopener"
        href="https://www.google.com/maps/place/{{ date.x }}+{{ date.y }}"
        *ngIf="(date.location == null || date.location?.length == 0) && date?.x !== -199 && date?.y !== -199"
      >
        {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_LIST_OPEN_LOCATION_3' | translate }}
      </a>

      <a
        target="_blank"
        rel="noopener"
        href="https://www.google.com/maps/search/?api=1&query={{ date.location }}"
        *ngIf="date.location?.length > 0 && date?.x === -199 && date?.y === -199 && !isUrl(date.location)"
      >
        {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_LIST_OPEN_LOCATION_4' | translate }}{{ date.location
        }}{{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_LIST_OPEN_LOCATION_5' | translate }}
      </a>

      <a
        target="_blank"
        rel="noopener"
        href="{{ date.location }}"
        *ngIf="date.location?.length > 0 && date?.x === -199 && date?.y === -199 && isUrl(date.location)"
      >
        {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_LIST_OPEN_LOCATION_LINK' | translate }}
      </a>
    </span>

    <app-maps-component [x]="date.x" [y]="date.y" [showMarker]="true" *ngIf="date?.x !== -199 && date?.y !== -199"></app-maps-component>

    <div style="margin-top: 7px; margin-bottom: 7px">
      <mat-divider></mat-divider>
    </div>
  </div>
</div>
