<mat-card class="mat-elevation-z3">
  <h2>{{ event.name }}</h2>
  <p>{{ event.startDate | date: 'EE, dd.MM.yyyy HH:mm' }} - {{ event.endDate | date: 'EE, dd.MM.yyyy HH:mm' }}</p>

  <p *ngIf="event?.description?.length > 0">
    {{ event.description }}
  </p>
  <p *ngIf="event?.additionalInformation?.length > 0">
    {{ 'EVENTS_VIEW_EVENT_CARD_ADDITIONAL_INFORMATION' | translate }} <i>{{ event.additionalInformation }}</i>
  </p>
  <b *ngIf="event?.userDecision?.length > 0"> {{ 'EVENTS_VIEW_EVENT_CARD_VOTED_FOR' | translate }}: {{ event.userDecision }} </b>

  <mat-card-actions>
    <button (click)="onVote()" *ngIf="!event.alreadyVotedFor" color="primary" mat-flat-button [disabled]="voting" [class.spinner]="voting">
      {{ 'EVENTS_VIEW_EVENT_CARD_BUTTON_DECIDE' | translate }}
    </button>
    <button
      [disabled]="cancellingVoting"
      [class.spinner]="cancellingVoting"
      (click)="cancelVoting()"
      *ngIf="event.alreadyVotedFor"
      [style.background-color]="event.decisionColor"
      mat-flat-button
    >
      {{ 'EVENTS_VIEW_EVENT_CARD_BUTTON_CANCEL_VOTING' | translate }}
    </button>
    <button (click)="onInfo(event)" mat-button>
      <mat-icon>info</mat-icon>
      {{ 'EVENTS_VIEW_EVENT_CARD_BUTTON_INFO' | translate }}
    </button>
  </mat-card-actions>
</mat-card>
