<mat-tab-group mat-align-tabs="start" class="light-theme">
  <mat-tab class="light-theme">
    <ng-template mat-tab-label>
      <mat-icon class="mat-tab-icon light-theme">create</mat-icon>
      <span class="light-theme">{{ 'EDITOR' | tr }}</span>
    </ng-template>
    <quill-editor [modules]="modules" [styles]="{height: '50vh'}" (onEditorChanged)="changedEditor($event)"></quill-editor>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="mat-tab-icon light-theme">preview</mat-icon>
      <span class="light-theme">{{ 'EDITOR_PREVIEW' | tr }}</span>
    </ng-template>
    <app-editor-preview *ngIf="bodyHTML?.length > 0" [bodyHTML]="this.bodyHTML" [livePreview]="true"></app-editor-preview>
    <div class="editor-preview" *ngIf="bodyHTML?.length == 0 || bodyHTML == null">{{ 'EDITOR_NO_PREVIEW' | tr }}</div>
  </mat-tab>
</mat-tab-group>
