/* Use roboto font reset everything  */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

/* Disable stepper */
.mat-vertical-stepper-header{
  pointer-events: none !important;
}

/* Fix ripple bug which expand the card*/
.mat-card .last-child {
  margin-bottom: 0;
}

.input-label {
  font-size: 1.5vh;
  color: gray
}

.input-error {
  color: red;
}
