@import '../node_modules/angular-calendar/css/angular-calendar.css';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #2196f3;
}

a:hover {
  cursor: pointer;
}

.not-selectable {
  user-select: none;
}

/* Disable stepper */
.mat-vertical-stepper-header {
  pointer-events: none !important;
}

mat-card {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Fix ripple bug which expand the card*/
.mat-card .last-child {
  margin-bottom: 0;
}

.mat-menu-info {
  padding-left: 18px;
}

/* Loading animation for buttons */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}
