<h1>Server message: {{message}}}</h1>

<div class="ui-grid">
  <div class="ui-sm-12 ui-md-10 ui-lg-4 ui-md-offset-1 ui-lg-offset-4">
    <form (ngSubmit)="onSignin(f)" #f="ngForm" style="height: 50vh">
      <div class="ui-grid">
        <h1>Sign in</h1>
      </div>
      <div class="ui-grid">
        <span class="ui-float-label ui-grid">
          <input id="email" type="email" name="email" class="ui-grid-col-12" pInputText ngModel required>
          <label for="email">Email</label>
        </span>
      </div>
      <div class="ui-gird">
         <span class="ui-float-label ui-grid">
          <input id="password" type="password" name="password" required minlength="6" class="ui-grid-col-12" pInputText ngModel>
          <label for="password">Password</label>
        </span>
      </div>

      <div class="ui-grid">
          <a routerLink="/signup" style="float: left;" pButton class="ui-button-secondary" label="Not signed up yet?"></a>

          <button style="float: right;" pButton type="submit" [disabled]="!f.valid" label="Sign In"></button>
      </div>
    </form>
  </div>
</div>
