@font-face {
  font-family: signFont;
  src: url('../../../assets/fonts/signFont.TTF');
}

#signin-container {
  background: url("../../../assets/signBackground.svg") no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding-top: 15vh;
}

.projectName {
  font-family: signFont, monospace;
  font-size: 2vh;
  border-left-style: solid;
  border-color: #26a69a;
  padding-left: 1vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#signin-card {
  padding-bottom: 10px;
  padding-top: 0;
}

mat-card-content {
  margin-bottom: 0;
}

mat-card-actions {
  padding: 0;
  margin-bottom: 0;
  margin-left: 1px;
}
