<div class="row">
  <h2 class="col-12">{{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_TITLE' | translate }}:</h2>
</div>
<div class="row" *ngIf="dates.length === 0">
  <h4 class="col-12">{{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_LIST_NO_DATES' | translate }}</h4>
</div>
<mat-accordion>
  <mat-expansion-panel *ngFor="let date of dates" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ date.date | date: 'EE, dd.MM.yyyy HH:mm' }}
      </mat-panel-title>
      <mat-panel-description *ngIf="date.location?.length > 0 && date?.x !== -99 && date?.y !== -99">
        <a target="_blank" rel="noopener" href="https://www.google.com/maps/place/{{ date.x }}+{{ date.y }}">
          {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_LIST_OPEN_LOCATION_1' | translate }}{{ date.location
          }}{{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_LIST_OPEN_LOCATION_2' | translate }}
        </a>
      </mat-panel-description>
      <mat-panel-description *ngIf="date.location?.length == 0 && date?.x !== -99 && date?.y !== -99">
        <a target="_blank" rel="noopener" href="https://www.google.com/maps/place/{{ date.x }}+{{ date.y }}">
          {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_LIST_OPEN_LOCATION_3' | translate }}
        </a>
      </mat-panel-description>
      <mat-panel-description *ngIf="date.location?.length > 0 && date?.x === -99 && date?.y === -99">
        <a target="_blank" rel="noopener" href="https://www.google.com/maps/search/?api=1&query={{ date.location }}">
          {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_LIST_OPEN_LOCATION_4' | translate }}{{ date.location
          }}{{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_LIST_OPEN_LOCATION_5' | translate }}
        </a>
      </mat-panel-description>

      <div class="mat-expansion-indicator" style="padding-right: 5px">
        <b *ngIf="adminView"
          ><a
            (click)="deleteDate(date)"
            style="margin-right: 25px;"
            matTooltip="{{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_LIST_DELETE' | translate }}"
          >
            {{ 'DELETE' | translate }}</a
          ></b
        >
      </div>
    </mat-expansion-panel-header>

    <p *ngIf="date.location?.length == 0 && date.x == -99 && date.y == -99">
      {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_LIST_NO_LOCATION' | translate }}
    </p>

    <app-maps-component [x]="date.x" [y]="date.y" [showMarker]="true" *ngIf="date?.x !== -99 && date?.y !== -99"></app-maps-component>

    <p *ngIf="date?.x === -99 && date?.y === -99">
      {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_LIST_NO_COORDINATES' | translate }}
    </p>
  </mat-expansion-panel>
</mat-accordion>
