<h2>{{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_TITLE' | translate }}:</h2>

<mat-accordion>
  <mat-expansion-panel *ngFor="let date of dates" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ date.date | date: 'EE, dd.MM.yyyy HH:mm' }}
      </mat-panel-title>
      <mat-panel-description *ngIf="!isMobile">
        <a
          target="_blank"
          rel="noopener"
          href="https://www.google.com/maps/place/{{ date.x }}+{{ date.y }}"
          *ngIf="date.location?.length > 0 && date?.x !== -199 && date?.y !== -199"
        >
          {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_LIST_OPEN_LOCATION_1' | translate }}{{ date.location
          }}{{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_LIST_OPEN_LOCATION_2' | translate }}
        </a>

        <a
          target="_blank"
          rel="noopener"
          href="https://www.google.com/maps/place/{{ date.x }}+{{ date.y }}"
          *ngIf="(date.location == null || date.location?.length == 0) && date?.x !== -199 && date?.y !== -199"
        >
          {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_LIST_OPEN_LOCATION_3' | translate }}
        </a>

        <a
          target="_blank"
          rel="noopener"
          href="https://www.google.com/maps/search/?api=1&query={{ date.location }}"
          *ngIf="date.location?.length > 0 && date?.x === -199 && date?.y === -199"
        >
          {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_LIST_OPEN_LOCATION_4' | translate }}{{ date.location
          }}{{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_LIST_OPEN_LOCATION_5' | translate }}
        </a>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div fxLayout="row" fxLayoutAlign="end" style="margin-bottom: 10px" *ngIf="adminView">
      <div fxLayout="20%" fxLayout.xs="100%">
        <a
          mat-stroked-button
          color="warn"
          (click)="deleteDate(date)"
          matTooltip="{{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_LIST_DELETE' | translate }}"
        >
          {{ 'DELETE' | translate }}</a
        >
      </div>
    </div>

    <div *ngIf="isMobile" fxLayout="column" fxLayoutAlign="center">
      <a
        mat-flat-button
        target="_blank"
        rel="noopener"
        color="accent"
        href="https://www.google.com/maps/place/{{ date.x }}+{{ date.y }}"
        *ngIf="date.location?.length > 0 && date?.x !== -199 && date?.y !== -199"
      >
        {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_LIST_OPEN_LOCATION_1' | translate }}{{ date.location
        }}{{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_LIST_OPEN_LOCATION_2' | translate }}
      </a>

      <a
        mat-flat-button
        target="_blank"
        rel="noopener"
        color="accent"
        href="https://www.google.com/maps/place/{{ date.x }}+{{ date.y }}"
        *ngIf="(date.location == null || date.location?.length == 0) && date?.x !== -199 && date?.y !== -199"
      >
        {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_LIST_OPEN_LOCATION_3' | translate }}
      </a>

      <a
        mat-flat-button
        target="_blank"
        rel="noopener"
        color="accent"
        href="https://www.google.com/maps/search/?api=1&query={{ date.location }}"
        *ngIf="date.location?.length > 0 && date?.x === -199 && date?.y === -199"
      >
        {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_LIST_OPEN_LOCATION_4' | translate }}{{ date.location
        }}{{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_LIST_OPEN_LOCATION_5' | translate }}
      </a>
    </div>

    <app-maps-component [x]="date.x" [y]="date.y" [showMarker]="true" *ngIf="date?.x !== -199 && date?.y !== -199"></app-maps-component>
  </mat-expansion-panel>
</mat-accordion>
