<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="navBarMode" [(opened)]="navBarOpened">
    <div class="sidenav-head">
      <img class="sidenav-head-avatar" src="./../../assets/sidenav-demo-avatar.png" />


      <div class="sidenav-head-entry row">
        <div class="col-12"> {{firstname}} {{surname}}</div>
      </div>
      <div class="sidenav-head-entry row">
        <div class="col-12">{{email}}</div>
      </div>
    </div>

    <mat-nav-list>
      <a routerLink="/home" mat-list-item>
        Home<mat-icon>home</mat-icon>
      </a>
      <mat-divider></mat-divider>

      <div *ngIf="showPoll">
          <a mat-list-item>{{'NAV_POLLS' | translate}}</a>

          <a mat-list-item>{{'NAV_ANALYSES' | translate}}</a>

          <a mat-list-item>{{'NAV_ADMINISTRATION' | translate}}</a>
        <mat-divider></mat-divider>
      </div>

      <div *ngIf="showCinema">
          <a mat-list-item routerLink="cinema/tickets" routerLinkActive="activated">{{'NAV_TICKETS' | translate}}</a>
          <a mat-list-item routerLink="cinema/service" routerLinkActive="activated">{{'NAV_CINEMA_SERVICE' | translate}}</a>
          <a mat-list-item routerLink="cinema/settings" routerLinkActive="activated">{{'NAV_ADMINISTRATION' | translate}}</a>
        <mat-divider></mat-divider>
      </div>


      <a mat-list-item routerLink="settings" routerLinkActive="activated">{{ 'NAV_SETTINGS' | translate }}</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="z-depth-4">
      <mat-icon style="cursor: pointer;" (click)="sidenav.toggle()">menu</mat-icon>
      <span routerLink="" style="cursor: pointer; margin-left: 15px;">DatePoll</span>
    </mat-toolbar>

    <div class="my-container">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
