<header>
  <mz-navbar [navbarClass]="'white'">
    <a routerLink="" class="brand-logo black-text center">DatePoll</a>
    <mz-navbar-item-container [align]="'left'">
      <mz-navbar-item>
        <a id="btn-sidenav" class="hide-on-large-only">
          <i mz-icon-mdi
             [class]="'black-text'"
             [icon]="'menu'">
          </i>
        </a>
      </mz-navbar-item>
    </mz-navbar-item-container>
  </mz-navbar>

  <mz-sidenav
    [fixed]="true"
    [draggable]="true"
    [id]="'sidenav-demo'"
    [collapseButtonId]="'btn-sidenav'"
    [closeOnClick]="true">

    <mz-sidenav-header>
      <div class="user-view" style="background-image: url('./assets/sidenav-background.svg'); background-size: cover">
        <img class="circle avatar" src="./../../assets/sidenav-demo-avatar.png">
        <div class="white-text name">{{name}}</div>
        <div class="white-text email">{{email}}</div>
      </div>
    </mz-sidenav-header>
    <mz-sidenav-subheader>Link Subheader</mz-sidenav-subheader>
    <mz-sidenav-link routerLinkActive='[active]="true"'>
      <a class="waves-effect" routerLink="">Home</a>
    </mz-sidenav-link>
    <mz-sidenav-divider></mz-sidenav-divider>
    <mz-sidenav-link>
      <a class="waves-effect" href="#">Active Link</a>
    </mz-sidenav-link>
    <mz-sidenav-divider></mz-sidenav-divider>
    <mz-sidenav-link>
      <a routerLink="settings" class="waves-effect">{{ 'SETTINGS' | translate }}</a>
    </mz-sidenav-link>

  </mz-sidenav>
</header>

<main style="min-height: 90%">
  <div class="my-container">
    <router-outlet></router-outlet>
  </div>
</main>
<app-inner-footer></app-inner-footer>
