<mat-sidenav-container>
  <mat-sidenav #sidenav [(opened)]="navBarOpened" [mode]="navBarMode">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <h2 class="sidenav-head-text">
        {{ 'HELLO' | translate }} <span style="color: #607d8b">{{ firstname }}</span
        >,
      </h2>
      <button mat-icon-button (click)="changeTheme()" style="margin-top: 5px; margin-right: 15px">
        <mat-icon>brightness_medium</mat-icon>
      </button>
    </div>
    <h4 class="sidenav-head-text">{{ username }}</h4>

    <mat-nav-list>
      <div mat-list-item disableRipple fxLayout="row" fxLayoutAlign="space-around">
        <a mat-button (click)="onPageChange()" routerLink="/home">
          <mat-icon>home</mat-icon>
          Home
        </a>
        <a mat-button (click)="onPageChange()" routerLink="calendar" routerLinkActive="activated">
          <mat-icon>today</mat-icon>
          {{ 'CALENDAR' | translate }}</a
        >
      </div>

      <a
        *ngIf="serverInfo.broadcasts_enabled"
        (click)="onPageChange()"
        mat-list-item
        routerLink="broadcasts/messages"
        routerLinkActive="activated"
      >
        <mat-icon>message</mat-icon>
        {{ 'NAV_BROADCASTS' | translate }}</a
      >

      <!--      <a (click)="onPageChange()" mat-list-item routerLink="/home/seatReservation" routerLinkActive="activated">-->
      <!--        <mat-icon>place</mat-icon>-->
      <!--        {{ 'NAV_SEAT_RESERVATION' | translate }}</a-->
      <!--      >-->

      <mat-divider></mat-divider>

      <div *ngIf="serverInfo?.events_enabled">
        <a (click)="onPageChange()" mat-list-item routerLink="/home/events/start" routerLinkActive="activated">
          <mat-icon>polls</mat-icon>
          {{ 'NAV_EVENTS_EVENTS' | translate }}
        </a>

        <a
          (click)="onPageChange()"
          *ngIf="myUserService.hasPermission(eventAdministration)"
          mat-list-item
          routerLink="/home/events/administration"
          routerLinkActive="activated"
        >
          <mat-icon>class</mat-icon>
          {{ 'NAV_EVENTS_ADMINISTRATION' | translate }}
        </a>
        <mat-divider></mat-divider>
      </div>

      <div *ngIf="serverInfo.cinema_enabled">
        <a (click)="onPageChange()" mat-list-item routerLink="/home/cinema/tickets" routerLinkActive="activated">
          <mat-icon>movie</mat-icon>
          {{ 'NAV_CINEMA_TICKETS' | translate }}
        </a>
        <a (click)="onPageChange()" mat-list-item routerLink="/home/cinema/service" routerLinkActive="activated">
          <mat-icon>card_giftcard</mat-icon>
          {{ 'NAV_CINEMA_SERVICE' | translate }}
        </a>
        <a
          (click)="onPageChange()"
          *ngIf="myUserService.hasPermission(cinemaMovieAdministration)"
          mat-list-item
          routerLink="/home/cinema/administration"
          routerLinkActive="activated"
        >
          <mat-icon>local_movies</mat-icon>
          {{ 'NAV_CINEMA_ADMINISTRATION' | translate }}</a
        >
        <mat-divider></mat-divider>
      </div>

      <div *ngIf="serverInfo.broadcasts_enabled && myUserService.hasPermission(broadcastAdministration)">
        <a (click)="onPageChange()" mat-list-item routerLink="/home/broadcasts/administration" routerLinkActive="activated">
          <mat-icon>email</mat-icon>
          {{ 'NAV_BROADCASTS_ADMINISTRATION' | translate }}
        </a>

        <mat-divider></mat-divider>
      </div>

      <a (click)="onPageChange()" mat-list-item routerLink="settings" routerLinkActive="activated">
        <mat-icon>settings</mat-icon>
        {{ 'NAV_USER_SETTINGS' | translate }}
      </a>

      <mat-divider></mat-divider>
      <div *ngIf="myUserService.hasPermission(managementAdministration) || myUserService.hasPermission(managementUserView)">
        <a (click)="onPageChange()" mat-list-item routerLink="management/user" routerLinkActive="activated">
          <mat-icon>contacts</mat-icon>
          {{ 'NAV_MANAGEMENT_USERS' | translate }}
        </a>
      </div>

      <div *ngIf="myUserService.hasPermission(settingsAdministration) || myUserService.hasPermission(logsAdministration)">
        <mat-divider></mat-divider>
        <a (click)="onPageChange()" mat-list-item routerLink="management/datepoll" routerLinkActive="activated">
          <mat-icon>settings_input_component</mat-icon>
          {{ 'NAV_MANAGEMENT_DATEPOLL' | translate }}
        </a>
      </div>

      <mat-divider
        *ngIf="
          myUserService.hasPermission(managementAdministration) ||
          myUserService.hasPermission(settingsAdministration) ||
          myUserService.hasPermission(logsAdministration)
        "
      ></mat-divider>
      <mat-list-item>
        <mat-icon>power_settings_new</mat-icon>
        {{ 'NAV_LOGOUT' | translate }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z5 not-selectable" color="primary">
      <button mat-icon-button aria-label="Opens or closes the navigation drawer" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span id="toolbar-heading" routerLink="/home">{{ serverInfo.community_name }}</span>
      <button mat-icon-button *ngIf="offline" (click)="onOfflineButtonClick()">
        <mat-icon>report_problemn</mat-icon>
      </button>
    </mat-toolbar>

    <div id="my-container">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
