<mat-card>
  <div class="row justify-content-between">
    <div class="col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8">
      <h1>{{ 'NAV_SEAT_RESERVATION' | tr }}</h1>
    </div>
    <div class="col-2 col-sm-2 col-md-4 col-lg-4 col-xl-4" style="text-align: end">
      <button [matMenuTriggerFor]="menu" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>refresh</mat-icon>
          <span>{{ 'EVENTS_ADMINISTRATION_MENU_REFRESH' | tr }}</span>
        </button>
        <div mat-menu-item>
          <mat-slide-toggle color="primary">
            {{ 'EVENTS_ADMINISTRATION_MENU_SHOW_ALL_EVENTS' | tr }}
          </mat-slide-toggle>
        </div>
        <button mat-menu-item>
          <mat-icon>question_answer</mat-icon>
          <span>{{ 'EVENTS_STANDARD_DECISIONS_MANAGEMENT' | tr }}</span>
        </button>
        <button mat-menu-item>
          <mat-icon>location_searching</mat-icon>
          <span>{{ 'EVENTS_STANDARD_LOCATIONS_MANAGEMENT' | tr }}</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-card>
