<mz-modal [fixedFooter]="true">
  <mz-modal-header>
    <h4>{{'SETTINGS_PERSONAL_DATA_PERSONAL_DATA_CHANGE' | translate}}</h4>
  </mz-modal-header>
  <mz-modal-content>
    <div class="row">
      <div class="input-field col s5 m4 l2">
        <div class="input-label">{{'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_TITLE' | translate}}</div>
        <input id="title" type="text" [(ngModel)]="title"
               placeholder="{{'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_TITLE' | translate}}">
      </div>

      <div class="input-field col s7 m4 l5">
        <div class="input-label">{{'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_FIRSTNAME' | translate}}</div>
        <input id="firstname" type="text" [(ngModel)]="firstname"
               placeholder="{{'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_FIRSTNAME' | translate}}">
      </div>

      <div class="input-field col s12 m4 l5">
        <div class="input-label">{{'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_SURNAME' | translate}}</div>
        <input id="surname" type="text" [(ngModel)]="surname"
               placeholder="{{'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_SURNAME' | translate}}">
      </div>
    </div>

    <div class="row">
      <mz-datepicker-container class="col s12">
        <div class="input-label">{{'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_BIRTHDAY' | translate}}</div>
        <input mz-datepicker
               [options]="datepickerOptions"
               [(ngModel)]="birthday"
               id="datepicker"
               placeholder="{{'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_BIRTHDAY' | translate}}"
               type="text">
      </mz-datepicker-container>
    </div>

    <div class="row">
      <div class="input-field col s8 m10 l10">
        <div class="input-label">{{'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_STREETNAME' | translate}}</div>
        <input id="streetname" type="text" [(ngModel)]="streetname"
               placeholder="{{'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_STREETNAME' | translate}}">
      </div>

      <div class="input-field col s4 m2 l2">
        <div class="input-label">{{'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_STREETNUMBER' | translate}}</div>
        <input id="streetnumber" type="text" [(ngModel)]="streetnumber"
               placeholder="{{'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_STREETNUMBER' | translate}}">
      </div>
    </div>

    <div class="row">
      <div class="input-field col s4 m3 l2">
        <div class="input-label">{{'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_ZIPCODE' | translate}}</div>
        <input id="zipcode" type="text" [(ngModel)]="zipcode"
               placeholder="{{'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_ZIPCODE' | translate}}">
      </div>

      <div class="input-field col s8 m9 l10">
        <div class="input-label">{{'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_LOCATION' | translate}}</div>
        <input id="location" type="text" [(ngModel)]="location"
               placeholder="{{'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_LOCATION' | translate}}">
      </div>
    </div>

  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [float]="true" [flat]="true" mz-modal-close class="hide-on-med-and-up left">
      <i mz-icon-mdi class="black-text" [icon]="'close'"></i>
    </button>
    <button mz-button [flat]="true" mz-modal-close class="hide-on-small-and-down" style="margin-right: 10px;">
      {{'CLOSE' | translate}}
    </button>
    <button mz-button [flat]="true" mz-modal-close class="green" (click)="saveData()">{{'SAVE' | translate}}</button>
  </mz-modal-footer>
</mz-modal>
