@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$light-app-primary: mat-palette($mat-blue-gray);
$light-app-accent: mat-palette($mat-light-green, A200, A100, A400);

// The warn palette is optional (defaults to red).
$light-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$light-app-theme: mat-light-theme($light-app-primary, $light-app-accent, $light-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($light-app-theme);

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-light-green, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.dark-theme` will be affected by this alternate dark theme instead of the default theme.
.dark-theme,
.black-theme {
  @include angular-material-theme($dark-theme);

  /* Left main nav color fix */
  .activated {
    background-color: #323232 !important;
  }

  /* Table stripped color fix */
  .mat-table > tbody > tr:nth-child(even) {
    background: #616161;
  }

  /* Table stripped hover color fix */
  .mat-row:hover {
    background-color: #757575;
  }

  /* Add material card to container if on desktop */
  @media screen and (min-width: 1314px) {
    .desktop-card-container {
      background-color: #424242;
      color: white;
    }
  }

  /* Remove dashed border on preview */
  .editor-preview {
    border-style: none !important;
  }

  /* User changes marked colored */
  .change-mark {
    background-color: #616161;
  }

  /* Mat multi table sort tag color fix */
  .sorting {
    color: lightgray !important;
  }
  .mat-chip:hover {
    background-color: #616161 !important;
  }
  /* Mat multi table sort select text color fix */
  .mat-checkbox-label {
    color: white !important;
  }
}

.black-theme {
  #my-container {
    background-color: black;
  }

  .mat-table > tbody > tr:nth-child(even) {
    background: #212121;
  }

  .mat-row:hover {
    background-color: #424242;
  }

  .mat-card,
  .mat-expansion-panel,
  .mat-table,
  .mat-paginator,
  .mat-sidenav,
  .mat-drawer-container {
    background-color: black;
  }

  .mat-card,
  .mat-expansion-panel {
    border: solid;
    border-color: #424242 !important;
    border-width: 2px;
  }

  @media screen and (min-width: 1314px) {
    .desktop-card-container {
      background-color: black !important;
      border: solid;
      border-width: 1px;
      border-color: #424242 !important;
      color: white;
    }
  }
}
