<h1 mat-dialog-title>{{ 'MANAGEMENT_GROUPS_UPDATE_GROUP_MODAL_TITLE' | tr }} {{ name }}</h1>
<div mat-dialog-content>
  <form #form="ngForm" (ngSubmit)="onUpdate(form)" fxLayout.xs="column" fxLayout="row break" fxLayoutAlign="space-around">
    <mat-form-field fxFlex="50%">
      <input
        #nameModel="ngModel"
        [(ngModel)]="name"
        id="name"
        matInput
        maxlength="190"
        name="name"
        ngModel
        placeholder="{{ 'MANAGEMENT_GROUPS_CREATE_GROUP_MODAL_FORM_NAME' | tr }}"
        required
        type="text"
      />
      <mat-error *ngIf="nameModel.invalid">
        {{ 'MANAGEMENT_GROUPS_CREATE_GROUP_MODAL_FORM_NAME_INCORRECT' | tr }}
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="50%">
      <input
        #orderNModel="ngModel"
        [(ngModel)]="orderN"
        id="orderN"
        matInput
        name="orderN"
        ngModel
        placeholder="{{ 'MANAGEMENT_GROUPS_CREATE_GROUP_MODAL_FORM_ORDER_NUMBER' | tr }}"
        type="number"
      />
      <mat-error *ngIf="orderNModel.invalid">
        {{ 'MANAGEMENT_GROUPS_CREATE_GROUP_MODAL_FORM_ORDER_NUMBER_INCORRECT' | tr }}
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="100%">
      <input
        #descriptionModel="ngModel"
        [(ngModel)]="description"
        id="description"
        matInput
        maxlength="190"
        name="description"
        ngModel
        placeholder="{{ 'MANAGEMENT_GROUPS_CREATE_GROUP_MODAL_FORM_DESCRIPTION' | tr }}"
        type="text"
      />
      <mat-error *ngIf="descriptionModel.invalid">
        {{ 'MANAGEMENT_GROUPS_CREATE_GROUP_MODAL_FORM_DESCRIPTION_INCORRECT' | tr }}
      </mat-error>
    </mat-form-field>

    <app-list-chip-input
      [label]="'MANAGEMENT_GROUPS_CREATE_GROUP_MODAL_FORM_PERMISSIONS'"
      *ngIf="hasPermissionToChangePermissions"
      [strings]="permissions"
      (valueChange)="permissionsChange($event)"
      [allStringsToAutoComplete]="allPermissions"
      fxFlex="100%"
    ></app-list-chip-input>
  </form>
</div>
<div mat-dialog-actions style="margin-top: 15px">
  <button [mat-dialog-close] mat-button>{{ 'CLOSE' | tr }}</button>
  <button (click)="form.ngSubmit.emit()" [disabled]="!form.form.valid" color="accent" mat-flat-button>{{ 'SAVE' | tr }}</button>
</div>
